---
import IndexLayout from "../../../layouts/IndexLayout.astro";
import ProductTemplate from "@components/product/product-template.astro";

import { Image } from "astro:assets";
import productImage1 from "@assets/images/products/Cordyceps_Extract_500_90/Cordyceps_Extract_500_90_fwc.webp";
import productImage2 from "@assets/images/products/Cordyceps_Extract_500_90/Cordyceps_Extract_500_90_bws.webp";

const alt = "NATIOS Cordyceps Extract";
const loading = "lazy";
const productImageWidth = 1000;
const pixelDensities = [1, 1.5, 2, 2.5, 3];
const quality = 90;
---

<IndexLayout title="NATIOS Cordyceps Extract">
	<ProductTemplate>
		<!-- _____________________________________________ -->
		<!-- ____________________NÁZEV____________________ -->
		<!-- _____________________________________________ -->
		<h1 slot="product-name-h1">Cordyceps Extract, 40% polysaccharides</h1>
		<h2 slot="product-name-h2">500 mg, 90 veganských kapslí</h2>

		<!-- ________________________________________________________ -->
		<!-- ____________________FOTKY VELKÉ DO 6____________________ -->
		<!-- ________________________________________________________ -->
		<div slot="large-image-1" class="large-image active">
			<Image
				src={productImage1}
				width={productImageWidth}
				alt={alt}
				quality={quality}
				densities={pixelDensities}
				loading="eager"
			/>
		</div>

		<div slot="large-image-2" class="large-image">
			<Image
				src={productImage2}
				width={productImageWidth}
				alt={alt}
				quality={quality}
				densities={pixelDensities}
				loading={loading}
			/>
		</div>

		<!-- ____________________________________________________________ -->
		<!-- ____________________FOTKY NÁHLEDOVÉ DO 6____________________ -->
		<!-- ____________________________________________________________ -->
		<div slot="preview-image-1" class="preview-image active">
			<Image
				src={productImage1}
				width={productImageWidth}
				alt={alt}
				quality={quality}
				densities={pixelDensities}
				loading="eager"
			/>
		</div>

		<div slot="preview-image-2" class="preview-image">
			<Image
				src={productImage2}
				width={productImageWidth}
				alt={alt}
				quality={quality}
				densities={pixelDensities}
				loading="eager"
			/>
		</div>

		<!-- ___________________________________________________________________________________ -->
		<!-- ____________________SELECT MOŽNOSTI (možnost video a orher 1 2)____________________ -->
		<!-- ___________________________________________________________________________________ -->
		<span slot="select-description" class="select-description">Popis</span>
		<span slot="select-ingredients" class="select-ingredients">Složení</span>
		<span slot="select-dosage" class="select-dosage">Dávkování a upozornění</span>

		<!-- ____________________________________________________________________________________ -->
		<!-- ____________________DESCRIPTION DIVY (možnost video a orher 1 2)____________________ -->
		<!-- ____________________________________________________________________________________ -->
		<div slot="description-description" class="description-description active">
			<p>
				Cordyceps sinensis je parazitická houba, která se již po staletí využívá v tradiční čínské medicíně jako dobíječ
				energie. Tento Cordyceps značky Natios nabízí velmi silný extrakt z mycelia. Extrakce představuje
				nejoptimálnější způsob zpracování hub pro zdravotní účely. I z toho důvodu se naprostá většina studií
				uskutečňuje s extrakty, a ne s houbovým práškem.
			</p>
			<p>
				Hlavními (ale ne jedinými) účinnými látkami vitálních hub jsou polysacharidy (zejména Beta 1-3-D-glukany).
				Zatímco v sušeném prášku se nachází zhruba mezi 0,5‒3 % polysacharidů, v tomto extraktu Natios se jich nachází
				40 %. Tento extrakt je tedy až 40x koncentrovanější než samotný houbový prášek.
			</p>

			<ul>
				<li>Účinné látky získané extrakcí</li>
				<li>Lepší stravitelnost a účinnost</li>
				<li>Standardizované množství polysacharidů</li>
				<li>Účinná dávka obsažena v 1 kapsli</li>
				<li>Snadné a pohodlné užívání díky menším kapslím</li>
				<li>Neobsahuje žádné příměsi, nestravitelné látky ani éčka</li>
				<li>Vegan a GMO-free</li>
			</ul>
		</div>
		<!-- ____________________TABULKA____________________ -->
		<div slot="description-ingredients" class="description-ingredients">
			<table>
				<thead>
					<tr>
						<th
							><div class="dosage">
								<span
									><b>Velikost dávky:</b> 1&nbsp;veganská kapsle<br />
									<b>Balení obsahuje:</b> 90&nbsp;dávek</span
								>
							</div></th
						>
						<th>Množství v 1 dávce</th>
						<th>%&nbsp;RHP*</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td
							><b>Cordyceps Extrakt</b> (<i>Cordyceps sinensis</i>) (mycelium)
							<br />
							- standardizováno na 40 % polysacharidů
						</td>
						<td>500&nbsp;mg</td>
						<td>**</td>
					</tr>

					<tr>
						<td colspan="3"
							><div class="rhp">
								<span>* referenční hodnota příjmu u průměrné dospělé osoby</span>
								<span>** denní referenční hodnota příjmu není stanovena</span>
							</div></td
						>
					</tr>
				</tbody>
			</table>
			<p><b>Další složky:</b> Veganská kapsle. Výrobek neobsahuje žádné další přidané látky (éčka).</p>
		</div>
		<!-- ____________________DÁVKOVÁNÍ A UPOZORNĚNÍ____________________ -->
		<div slot="description-dosage" class="description-dosage">
			<p>
				<b>Doporučené dávkování:</b><br />
				Jako doplněk stravy užívejte 1 až 2 veganské kapsle denně s vodou
			</p>
			<p>
				<b>Upozornění:</b><br />
				Pouze pro dospělé. Trpíte-li onemocněním, jste těhotná, kojíte, snažíte se otěhotnět nebo užíváte léky, poraďte se
				před užitím tohoto přípravku s lékařem. Uchovávejte mimo dosah dětí. Není náhradou pestré stravy. Doplněk stravy.
				Nepřekračujte doporučené denní dávkování.
			</p>
			<p>
				<b>Skladování:</b><br />
				Skladujte na chladném a suchém místě.
			</p>
			<p>
				<b>Vyrobeno v EU</b>
			</p>
		</div>
	</ProductTemplate>
</IndexLayout>

<style is:global>
	:root {
		--number-of-photos: 2;
	}
</style>
