---
import IndexLayout from "../../../layouts/IndexLayout.astro";
import ProductTemplate from "@components/product/product-template.astro";

import { Image } from "astro:assets";
import productImage1 from "@assets/images/products/mind-focus-60/mind-focus-60-fwc.webp";
import productImage2 from "@assets/images/products/mind-focus-60/mind-focus-60-bws.webp";

const alt = "NATIOS Mind Focus";
const loading = "lazy";
const productImageWidth = 1000;
const pixelDensities = [1, 1.5, 2, 2.5, 3];
const quality = 90;
---

<IndexLayout title="NATIOS Mind Focus">
	<ProductTemplate>
		<!-- _____________________________________________ -->
		<!-- ____________________NÁZEV____________________ -->
		<!-- _____________________________________________ -->
		<h1 slot="product-name-h1">Mind Focus</h1>
		<h2 slot="product-name-h2">60 veganských kapslí</h2>

		<!-- ________________________________________________________ -->
		<!-- ____________________FOTKY VELKÉ DO 6____________________ -->
		<!-- ________________________________________________________ -->
		<div slot="large-image-1" class="large-image active">
			<Image
				src={productImage1}
				width={productImageWidth}
				alt={alt}
				quality={quality}
				densities={pixelDensities}
				loading="eager"
			/>
		</div>

		<div slot="large-image-2" class="large-image">
			<Image
				src={productImage2}
				width={productImageWidth}
				alt={alt}
				quality={quality}
				densities={pixelDensities}
				loading={loading}
			/>
		</div>

		<!-- ____________________________________________________________ -->
		<!-- ____________________FOTKY NÁHLEDOVÉ DO 6____________________ -->
		<!-- ____________________________________________________________ -->
		<div slot="preview-image-1" class="preview-image active">
			<Image
				src={productImage1}
				width={productImageWidth}
				alt={alt}
				quality={quality}
				densities={pixelDensities}
				loading="eager"
			/>
		</div>

		<div slot="preview-image-2" class="preview-image">
			<Image
				src={productImage2}
				width={productImageWidth}
				alt={alt}
				quality={quality}
				densities={pixelDensities}
				loading="eager"
			/>
		</div>

		<!-- ___________________________________________________________________________________ -->
		<!-- ____________________SELECT MOŽNOSTI (možnost video a orher 1 2)____________________ -->
		<!-- ___________________________________________________________________________________ -->
		<span slot="select-description" class="select-description">Popis</span>
		<span slot="select-ingredients" class="select-ingredients">Složení</span>
		<span slot="select-dosage" class="select-dosage">Dávkování a upozornění</span>

		<!-- ____________________________________________________________________________________ -->
		<!-- ____________________DESCRIPTION DIVY (možnost video a orher 1 2)____________________ -->
		<!-- ____________________________________________________________________________________ -->
		<div slot="description-description" class="description-description active">
			<p>
				Potřebujete se připravit na těžkou zkoušku nebo chcete podpořit své myšlení, kreativitu nebo kognitivní funkce
				pro správný pracovní výkon, eventuálně jen toužíte mít paměť jako dříve? Mind focus představuje nebývalou
				kombinaci aminokyselin, bylin a dalších důležitých složek využívaných pro podporu mozkové a nervové činnosti.
				Efektivní <b>kombinace 6 bylinných extraktů a 4 složek</b>, u kterých výzkumy potvrzují pozitivní účinky na
				paměť, koncentraci, soustředění zajistí vašemu mozku vše, co potřebuje.
			</p>

			<ul>
				<li>Účinná dávka obsažena ve 2 kapslích</li>
				<li>Neobsahuje žádný kofein</li>
				<li>Neobsahuje žádné příměsi, nestravitelné látky ani éčka</li>
				<li>Vegan a GMO-free</li>
			</ul>

			<p class="no-padding"><b>Do práce</b></p>
			<p>
				Máte mentálně vytěžující práci? Natios Mind Focus je vhodný pro každého, kdo potřebuje být v práci koncentrovaný
				a kreativní.
			</p>
			<p class="no-padding"><b>Ke studiu</b></p>
			<p>
				Potřebujete se naučit na zkoušku či písemku? Díky podpoře soustředěnosti a zapamatování je pro vás Natios Mind
				Focus to pravé.
			</p>
			<p class="no-padding"><b>Pro hráče</b></p>
			<p>
				Chcete podávat pouze ty nejlepší výkony? S Natios Mind Focus podpoříte mentální výkonnost, reflexy a bdělost.
			</p>
			<p class="no-padding"><b>6 vědecky ověřených extraktů bylinek</b></p>
			<p>
				NATIOS Mind Focus obsahuje kombinaci 6 silných extraktů bylinek, které mají ověřené účinky pro podporu
				kognitivních funkcí, paměti, bdělosti či koncentrace. Benefity těchto bylinek však jsou známy někdy i více 2000
				let, jelikož jsou tradičně užívány v tradiční čínské a ájurvédské medicíně. Všechny obsažené bylinky jsou
				obsaženy pouze ve formě <b>standardizovaných nebo vysoce koncentrovaných extraktů</b>, díky čemuž je zajištěna
				maximální účinnost.
			</p>
			<ul>
				<li>Ženšen pravý a bakopa podporují zdravou paměť</li>
				<li>Bakopa pomáhá v koncentraci</li>
				<li>Ženšen pravý podporuje bdělost</li>
				<li>Ženšen pravý, gotu kola a bakopa podporují kognitivní funkce</li>
				<li>Bakopa a rhodiola pomáhají proti stresu</li>
				<li>Rhodiola působí proti únavě</li>
				<li>Gotu kola a rhodiola podporují duševní zdraví</li>
				<li>Ženšen a rhodiola podporují emoční komfort</li>
				<li>Černý pepř má vliv na dobrou náladu</li>
			</ul>
			<p class="no-padding"><b>Komplex dalších účinných látek </b></p>
			<p>
				Krom bylinek Mind Focus obsahuje také 4 další účinné látky. První z nich je <b>Citikolin</b> (stabilizovaný CDP cholin),
				což je přirozeně se vyskytující meziprodukt účastnící se syntézy fosfatidylcholinu, hlavní složky šedé hmoty mozkové
				tkáně. <b>Fosfatidylserin</b> je další účinnou látkou, která se přirozeně nachází ve vysokém množství v mozkové tkáni.
				Obsahuje také 2 důležité aminokyseliny. <b>L-Theanin</b> se vyskytuje téměř exkluzivně v zeleném čaji a je mu přisuzována
				řada benefitů. <b>N-acetyl L-tyrosin</b> je rychle působící forma L-tyrosinu, což je velmi široce využívaná aminokyselina.
				V neposlední řadě obsahuje také <b>Bioperin</b>, což je standardizovaný extrakt z černého pepře, který navyšuje
				vstřebávání a účinnost ostatních obsažených látek.
			</p>
		</div>
		<!-- ____________________TABULKA____________________ -->
		<div slot="description-ingredients" class="description-ingredients">
			<table>
				<thead>
					<tr>
						<th
							><div class="dosage">
								<span
									><b>Velikost dávky:</b> 2&nbsp;veganské kapsle<br />
									<b>Balení obsahuje:</b> 30&nbsp;dávek</span
								>
							</div></th
						>
						<th>Množství v 1 dávce</th>
						<th>%&nbsp;RHP*</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Citicolin (CDP-Cholin)</td>
						<td>400&nbsp;mg</td>
						<td>**</td>
					</tr>
					<tr>
						<td>N-Acetyl L-Tyrosin</td>
						<td>300&nbsp;mg</td>
						<td>**</td>
					</tr>
					<tr>
						<td>L-Theanin</td>
						<td>200&nbsp;mg</td>
						<td>**</td>
					</tr>
					<tr>
						<td
							>Panax Ginseng (Ženšen pravý)
							<br />- Extrakt standardizovaný na 10&nbsp;% ginsenosidů</td
						>
						<td>100&nbsp;mg</td>
						<td>**</td>
					</tr>
					<tr>
						<td>Fosfatidylserin</td>
						<td>100&nbsp;mg</td>
						<td>**</td>
					</tr>
					<tr>
						<td
							>Rhodiola Rosea (Rozchodnice růžová)
							<br />- Extrakt standardizovaný na 3&nbsp;% rosavinů a 1&nbsp;% salidrosidu</td
						>
						<td>100&nbsp;mg</td>
						<td>**</td>
					</tr>
					<tr>
						<td
							>Ginkgo Biloba (Jinan dvoulaločný)
							<br />- Extrakt standardizovaný na 24&nbsp;% flavonoidů a 6&nbsp;% terpenických laktonů</td
						>
						<td>60&nbsp;mg</td>
						<td>**</td>
					</tr>
					<tr>
						<td
							>Gotu Kola (Pupečník asijský / Centella asiatica)
							<br />- Extrakt 4:1 (ekvivalent 200&nbsp;mg surové byliny)</td
						>
						<td>50&nbsp;mg</td>
						<td>**</td>
					</tr>
					<tr>
						<td
							>Bacopa (Bakopa drobnolista / Brahmi / Bacopa monnieri)
							<br />- Extrakt 10:1 (ekvivalent 400&nbsp;mg surové byliny)</td
						>
						<td>40&nbsp;mg</td>
						<td>**</td>
					</tr>
					<tr>
						<td
							>Černý pepř
							<br />- Bioperine extrakt standardizovaný na 95&nbsp;% piperinu</td
						>
						<td>4&nbsp;mg</td>
						<td>**</td>
					</tr>

					<tr>
						<td colspan="3"
							><div class="rhp">
								<span>* referenční hodnota příjmu u průměrné dospělé osoby</span>
								<span>** denní referenční hodnota příjmu není stanovena</span>
							</div></td
						>
					</tr>
				</tbody>
			</table>
			<p><b>Další složky:</b> Veganská kapsle. Výrobek neobsahuje žádné další přidané látky (éčka).</p>
		</div>
		<!-- ____________________DÁVKOVÁNÍ A UPOZORNĚNÍ____________________ -->
		<div slot="description-dosage" class="description-dosage">
			<p>
				<b>Doporučené dávkování:</b><br />
				Jako doplněk stravy užívejte 1 až 2 veganské kapsle denně s vodou
			</p>
			<p>
				<b>Upozornění:</b><br />
				Pouze pro dospělé. Trpíte-li onemocněním, jste těhotná, kojíte, snažíte se otěhotnět nebo užíváte léky, poraďte se
				před užitím tohoto přípravku s lékařem. Uchovávejte mimo dosah dětí. Není náhradou pestré stravy. Doplněk stravy.
				Nepřekračujte doporučené denní dávkování.
			</p>
			<p>
				<b>Skladování:</b><br />
				Skladujte na chladném a suchém místě.
			</p>
			<p>
				<b>Vyrobeno v EU</b>
			</p>
		</div>
	</ProductTemplate>
</IndexLayout>

<style is:global>
	:root {
		--number-of-photos: 2;
	}
</style>
