---
import IndexLayout from "../../../layouts/IndexLayout.astro";
import ProductTemplate from "@components/product/product-template.astro";

import { Image } from "astro:assets";
import productImage1 from "@assets/images/products/Omega_Premium_1000_100/Omega_Premium_1000_100_fwc.webp";
import productImage2 from "@assets/images/products/Omega_Premium_1000_100/Omega_Premium_1000_100_bws.webp";

const alt = "NATIOS Omega-3 Premium Fish Anchovies";
const loading = "lazy";
const productImageWidth = 1000;
const pixelDensities = [1, 1.5, 2, 2.5, 3];
const quality = 90;
---

<IndexLayout title="NATIOS Omega-3 Premium Anchovies">
	<ProductTemplate>
		<!-- _____________________________________________ -->
		<!-- ____________________NÁZEV____________________ -->
		<!-- _____________________________________________ -->
		<h1 slot="product-name-h1">Omega-3 Premium Anchovies</h1>
		<h2 slot="product-name-h2">1000 mg, 100 softgel capsules</h2>

		<!-- ________________________________________________________ -->
		<!-- ____________________FOTKY VELKÉ DO 6____________________ -->
		<!-- ________________________________________________________ -->
		<div slot="large-image-1" class="large-image active">
			<Image
				src={productImage1}
				width={productImageWidth}
				alt={alt}
				quality={quality}
				densities={pixelDensities}
				loading="eager"
			/>
		</div>

		<div slot="large-image-2" class="large-image">
			<Image
				src={productImage2}
				width={productImageWidth}
				alt={alt}
				quality={quality}
				densities={pixelDensities}
				loading={loading}
			/>
		</div>

		<!-- ____________________________________________________________ -->
		<!-- ____________________FOTKY NÁHLEDOVÉ DO 6____________________ -->
		<!-- ____________________________________________________________ -->
		<div slot="preview-image-1" class="preview-image active">
			<Image
				src={productImage1}
				width={productImageWidth}
				alt={alt}
				quality={quality}
				densities={pixelDensities}
				loading="eager"
			/>
		</div>

		<div slot="preview-image-2" class="preview-image">
			<Image
				src={productImage2}
				width={productImageWidth}
				alt={alt}
				quality={quality}
				densities={pixelDensities}
				loading="eager"
			/>
		</div>

		<!-- ___________________________________________________________________________________ -->
		<!-- ____________________SELECT MOŽNOSTI (možnost video a orher 1 2)____________________ -->
		<!-- ___________________________________________________________________________________ -->
		<span slot="select-description" class="select-description">Description</span>
		<span slot="select-ingredients" class="select-ingredients">Ingredients</span>
		<span slot="select-dosage" class="select-dosage">Dosage and warnings</span>
		<span slot="select-video" class="select-video">Video</span>

		<!-- ____________________________________________________________________________________ -->
		<!-- ____________________DESCRIPTION DIVY (možnost video a orher 1 2)____________________ -->
		<!-- ____________________________________________________________________________________ -->
		<div slot="description-description" class="description-description active">
			<p>
				Natios Omega 3 contains 2000 mg of fish oil in two softgel capsules, with the most important essential fatty
				acids EPA (eicosapentaenoic acid) and DHA (docosahexaenoic acid) represented at a concentration of 360/240 mg.
				Omega-3 fatty acids are associated with many health benefits, the most famous being the support of brain and
				heart health.
			</p>
			<p>
				The fish oil in Natios Omega 3 is derived from premium Peruvian anchovies. Peru is a leader in the production of
				premium fish oils and places great emphasis on sustainable fishing. Since 2008, the Peruvian government has
				implemented quotas that limit the maximum catch per vessel and also limit the maximum total catch to 25% of the
				verified biomass. This responsible approach ensures a sustainable level of fishing for future generations.
			</p>
			<ul>
				<li>With extra vitamin E to increase stability</li>
				<li>GMO-free with no further additives or indigestible substances</li>
				<li>Sourced from Peruvian fisheries with sustainability in mind</li>
				<li>Premium anchovies fished in open waters</li>
			</ul>
			<p class="no-padding">
				<b>Benefits of Omega-3</b>
			</p><p class="small-padding">
				EPA and DHA are fatty acids that have positive effects, especially on overall heart and brain health, when
				consumed in sufficient amounts. DHA is also associated with maintaining healthy eyesight, among other things.
				Omega 3 fatty acids can have a wealth of other positive effects, but we are not allowed to list them for
				regulatory reasons.
			</p>
			<ul>
				<li>At an intake of 250 mg, the combination of EPA and DHA contributes to normal heart function</li>
				<li>250 mg of DHA contributes to the maintenance of normal brain function</li>
				<li>250 mg of DHA contributes to maintaining normal brain function</li>
				<li>
					At an intake of 2 g, the combination of EPA and DHA contribute to maintaining normal blood triglyceride levels
				</li>
				<li>At an intake of 3 g, the combination of EPA and DHA contribute to maintaining normal blood pressure</li>
				<li>
					For mothers, an additional intake of 200 mg of DHA contributes to the normal development of the fetus's eyes
					in the mother's body and infants nourished by breast milk
				</li>
			</ul>
			<p class="no-padding"><b>Combination with vitamin E</b></p>
			<p>
				Omega 3 fatty acids are vulnerable to oxidation, which can lead to rancidity and reduced nutritional value. For
				this reason, Natios Omega 3 is combined with vitamin E, which works as a natural antioxidant to help stabilise
				these fatty acids, preventing their oxidation and maintaining their freshness and potency. Vitamin E also helps
				to increase the absorption and utilisation of omega 3 fatty acids in the body.
			</p>
			<p>
				In addition, vitamin E itself helps fight oxidative stress due to its antioxidant properties, thus protecting
				cells from free radical damage.
			</p>
		</div>
		<!-- ____________________TABULKA____________________ -->
		<div slot="description-ingredients" class="description-ingredients">
			<table>
				<thead>
					<tr>
						<th
							><div class="dosage">
								<span
									><b>Serving size:</b> 2&nbsp;softgel capsules<br />
									<b>Contains:</b> 50&nbsp;servings</span
								>
							</div></th
						>
						<th>Amount Per Serving</th>
						<th>%NRV*</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><b>Omega 3 Fish Oil</b></td>
						<td>2000&nbsp;mg</td>
						<td>**</td>
					</tr>

					<tr>
						<td class="padding-left"><b>of which EPA (eicosapentaenoic acid)</b></td>
						<td>360&nbsp;mg</td>
						<td>**</td>
					</tr>
					<tr>
						<td class="padding-left"><b>of which DHA (docosahexaenoic acid)</b></td>
						<td>240&nbsp;mg</td>
						<td>**</td>
					</tr>

					<tr>
						<td><b>Vitamin E</b> (D-alfa tocopherol)</td>
						<td>10&nbsp;mg</td>
						<td>83%</td>
					</tr>

					<tr>
						<td colspan="3"
							><div class="rhp">
								<span>* Nutritional Reference Value</span>
							</div></td
						>
					</tr>
				</tbody>
			</table>
			<p>
				<b>Other ingredients:</b> Softgel capsule (bovine gelatine, glycerol and water). The product does not contain any
				other added substances. Contains <b>fish</b> (anchovies)
			</p>
		</div>
		<!-- ____________________DÁVKOVÁNÍ A UPOZORNĚNÍ____________________ -->
		<div slot="description-dosage" class="description-dosage">
			<p class="no-padding">
				<b>Recommended dosage:</b>
			</p>

			<p>Take 1 softgel capsule twice a day with food and water.</p>
			<p class="no-padding">
				<b>Warning:</b>
			</p>
			<p>
				For adults only. If you have a medical condition, are pregnant, nursing or trying to conceive, or are taking
				medication, consult with a physician before taking this product! Keep out of reach of children. Dietary
				supplement. It is not a substitute for a varied diet. Do not exceed the recommended daily dosage.
			</p>
			<p class="no-padding">
				<b>Storage:</b>
			</p>
			<p>Store in a cool, dry place. Do not store in the refrigerator.</p>
			<p>
				<b>Made in EU</b>
			</p>
		</div>
		<!-- ____________________VIDEO____________________ -->
		<div slot="description-video" class="description-video">
			<iframe
				width="100%"
				height="auto"
				style="aspect-ratio: 16/9;"
				src="https://www.youtube-nocookie.com/embed/yHTItaGlYYg?modestbranding=1&rel=0&"
				title="YouTube video player"
				frameborder="0"
				allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
				allowfullscreen="allowfullscreen"></iframe>
		</div>
	</ProductTemplate>
</IndexLayout>

<style is:global>
	:root {
		--number-of-photos: 2;
	}
</style>
