---
import SectionHeader from "@components/section-header.astro";
import SectionBackgroundText from "@components/section-background-text.astro";
import ArrowRightEmpty from "@components/arrows/arrowRightEmpty.astro";
import { Image } from "astro:assets";
import ashwagandhaExtract from "@assets/images/products/Ashwagandha_Extract_5000_90/Ashwagandha_Extracy_5000_90_front.webp";
import cordycepsExtract from "@assets/images/products/Cordyceps_Extract_500_90/Cordyceps_Extract_500_90_front.webp";
import electrolyteLemon from "@assets/images/products/Electrolyte_Lemon_600/Electrolyte_Lemon_600_crop.webp";
import electrolyteRaspberry from "@assets/images/products/Electrolyte_Raspberry_600/Electrolyte_Raspberry_600_crop.webp";
import fenugreekAndBlessedExtract from "@assets/images/products/Fenugreek_Blessed_2000_120/Fenugreek_Blessed_2000_120_front.webp";
import lionsManeExtract from "@assets/images/products/Lions_Extract_500_90/Lions_Extract_500_90_front.webp";
import macaExtract from "@assets/images/products/Maca_Extract_5000_90/Maca_Extract_5000_90_front.webp";
import magnesiumBisglycinate from "@assets/images/products/Magnesium_Bisglycinate_1000_90/Magnesium_Bisglycinate_1000_90_front.webp";

import magnesiumLThreonate from "@assets/images/products/Magnesium_Lthreonate_800_100/Magnesium_Lthreonate_800_100_front.webp";
import magnesiumMalate from "@assets/images/products/Magnesium_Malate_1000_90/Magnesium_Malate_1000_90_front.webp";
import moringaExtract from "@assets/images/products/Moringa_Extract_2000_90/Moringa_Extract_2000_90_front.webp";
import nAcetylCysteine from "@assets/images/products/NAC_800_90/NAC_800_90_front.webp";
import omegaPremium from "@assets/images/products/Omega_Premium_1000_100/Omega_Premium_1000_100_front.webp";
import vitaminCLipo from "@assets/images/products/Vitamin_C_Lipo_500_60/Vitamin_C_Lipo_500_60_front.webp";
import vitaminD5000 from "@assets/images/products/Vitamin_D_5000_250/Vitamin_D_5000_250_front.webp";
import zincComplex from "@assets/images/products/Zinc_Complex_25_100/Zinc_Complex_25_100_front.webp";
const loading = "lazy";
const productImageWidth = 148;
const pixelDensities = [1, 1.5, 2, 2.5, 3];
const quality = 90;
---

<SectionBackgroundText backgroundText="Produkty" top="20%" left="-20%" translateX="0" translateY="0" opacity="0.08" />
<div class="our-products-content">
	<div class="our-products-filters">
		<div class="our-products-filter active" id="all">
			<span>Vše</span>
		</div>
		<div class="our-products-filter" id="mineral">
			<span>Minerály</span>
		</div>
		<div class="our-products-filter" id="vitamin">
			<span>Vitamíny</span>
		</div>
		<div class="our-products-filter" id="extract">
			<span>Extrakty</span>
		</div>
		<div class="our-products-filter" id="other">
			<span>Ostatní</span>
		</div>
	</div>
	<div class="our-products-list all">
		<a href="/product/magnesium-bisglycinate-1000-90" class="our-product mineral">
			<div class="product-image">
				<Image
					src={magnesiumBisglycinate}
					width={productImageWidth}
					densities={pixelDensities}
					alt={"NATIOS Magnesium Bisglycinate"}
					quality={quality}
					loading={loading}
				/>
			</div>
			<div class="product-name">Magnesium Bisglycinate</div>
		</a>
		<a href="/product/vitamin-c-liposomal-500-60" class="our-product vitamin">
			<div class="product-image">
				<Image
					src={vitaminCLipo}
					width={productImageWidth}
					densities={pixelDensities}
					alt={"NATIOS Vitamin C Liposomal"}
					quality={quality}
					loading={loading}
				/>
			</div>
			<div class="product-name">Liposomal Vitamin C</div>
		</a>

		<a href="/product/magnesium-malate-1000-90" class="our-product mineral">
			<div class="product-image">
				<Image
					src={magnesiumMalate}
					width={productImageWidth}
					densities={pixelDensities}
					alt={"NATIOS Magnesium Malate"}
					quality={quality}
					loading={loading}
				/>
			</div>
			<div class="product-name">Magnesium Malate</div>
		</a>

		<a href="/product/fenugreek-and-blessed-2000-120" class="our-product extract">
			<div class="product-image">
				<Image
					src={fenugreekAndBlessedExtract}
					width={productImageWidth}
					densities={pixelDensities}
					alt={"NATIOS Fenugreek and Blessed Thistle Extract"}
					quality={quality}
					loading={loading}
				/>
			</div>
			<div class="product-name">Fenugreek & Blessed Thistle</div>
		</a>

		<a href="/product/ashwagandha-extract-5000-90" class="our-product extract">
			<div class="product-image">
				<Image
					src={ashwagandhaExtract}
					width={productImageWidth}
					densities={pixelDensities}
					alt={"NATIOS Ashwaganha Extract"}
					quality={quality}
					loading={loading}
				/>
			</div>
			<div class="product-name">Ashwagandha Extract</div>
		</a>

		<a href="/product/vitamin-d-5000-250" class="our-product vitamin">
			<div class="product-image">
				<Image
					src={vitaminD5000}
					width={productImageWidth}
					densities={pixelDensities}
					alt={"NATIOS Vitamin D3 5000 IU"}
					quality={quality}
					loading={loading}
				/>
			</div>
			<div class="product-name">Vitamin D3 5000 IU</div>
		</a>
		<a href="/product/zinc-complex-25-100" class="our-product mineral">
			<div class="product-image">
				<Image
					src={zincComplex}
					width={productImageWidth}
					densities={pixelDensities}
					alt={"NATIOS Zinc Complex"}
					quality={quality}
					loading={loading}
				/>
			</div>
			<div class="product-name">Zinc Complex</div>
		</a>

		<a href="/product/omega-premium-1000-100" class="our-product other">
			<div class="product-image">
				<Image
					src={omegaPremium}
					width={productImageWidth}
					densities={pixelDensities}
					alt={"NATIOS Omega Premium Fish Oil"}
					quality={quality}
					loading={loading}
				/>
			</div>
			<div class="product-name">Omega Premium Fish Oil</div>
		</a>

		<a href="/product/cordyceps-extract-500-90" class="our-product extract">
			<div class="product-image">
				<Image
					src={cordycepsExtract}
					width={productImageWidth}
					densities={pixelDensities}
					alt={"NATIOS Cordyceps Extract"}
					quality={quality}
					loading={loading}
				/>
			</div>
			<div class="product-name">Cordyceps Extract</div>
		</a>

		<a href="/product/lions-mane-extract-500-90" class="our-product extract">
			<div class="product-image">
				<Image
					src={lionsManeExtract}
					width={productImageWidth}
					densities={pixelDensities}
					alt={"NATIOS Lions Mane Extract"}
					quality={quality}
					loading={loading}
				/>
			</div>
			<div class="product-name">Lion's Mane Extract</div>
		</a>
		<a href="/product/magnesium-l-threonate-800-100" class="our-product mineral">
			<div class="product-image">
				<Image
					src={magnesiumLThreonate}
					width={productImageWidth}
					densities={pixelDensities}
					alt={"NATIOS Magnesium L-Threonate"}
					quality={quality}
					loading={loading}
				/>
			</div>
			<div class="product-name">Magnesium L-Threonate</div>
		</a>

		<a href="/product/n-acetyl-cysteine-800-90" class="our-product other">
			<div class="product-image">
				<Image
					src={nAcetylCysteine}
					width={productImageWidth}
					densities={pixelDensities}
					alt={"NATIOS N-Acetyl Cysteine (NAC)"}
					quality={quality}
					loading={loading}
				/>
			</div>
			<div class="product-name">N-Acetyl Cysteine</div>
		</a>

		<a href="/product/maca-extract-5000-90" class="our-product extract">
			<div class="product-image">
				<Image
					src={macaExtract}
					width={productImageWidth}
					densities={pixelDensities}
					alt={"NATIOS Maca Extract"}
					quality={quality}
					loading={loading}
				/>
			</div>
			<div class="product-name">Maca Extract</div>
		</a>

		<a href="/product/moringa-extract-2000-90" class="our-product extract">
			<div class="product-image">
				<Image
					src={moringaExtract}
					width={productImageWidth}
					densities={pixelDensities}
					alt={"NATIOS Moringa Extract"}
					quality={quality}
					loading={loading}
				/>
			</div>
			<div class="product-name">Moringa Extract</div>
		</a>
		<a href="/product/electrolyte-lemon-600" class="our-product mineral other">
			<div class="product-image">
				<Image
					src={electrolyteLemon}
					width={productImageWidth}
					densities={pixelDensities}
					alt={"NATIOS Electrolyte Citrón"}
					quality={quality}
					loading={loading}
				/>
			</div>
			<div class="product-name">Electrolyte Complex Citrón</div>
		</a>
		<a href="/product/electrolyte-raspberry-600" class="our-product mineral other">
			<div class="product-image">
				<Image
					src={electrolyteRaspberry}
					width={productImageWidth}
					densities={pixelDensities}
					alt={"NATIOS Electrolyte Malina"}
					quality={quality}
					loading={loading}
				/>
			</div>
			<div class="product-name">Electrolyte Complex Malina</div>
		</a>

		<div class="show-all-products">
			<a href="/nase-produkty">
				<div class="show-all-products-images">
					<div class="show-all-products-arrow">
						<ArrowRightEmpty />
					</div>
				</div>
				<div class="show-all-products-text">Všechny produkty</div>
			</a>
		</div>
	</div>
</div>

<style>
	.our-products-filters {
		display: flex;
		width: 100%;
		color: var(--color-white);
		font-size: var(--fs-26-14);
		font-weight: var(--fw-light);
		line-height: var(--lh-1_2);
		overflow: scroll;
		text-align: center;
		position: relative;
	}
	/* 	.our-products-filters::-webkit-scrollbar {
		height: 0px;
	}
	.our-products-filters {
		scrollbar-width: hidden;
	} */

	.our-products-filters::-webkit-scrollbar {
		height: 0px;
		display: none;
	}
	.our-products-filters {
		scrollbar-width: none;
	}

	.our-products-filter {
		transition: color 0.3s ease-out;
		width: 20%;
		min-width: 91px;
		padding-bottom: 5px;
		cursor: pointer;
		position: relative;
	}
	.our-products-filter::before {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 1px;
		background-color: var(--color-primary-800-50);
	}
	.our-products-filter::after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 2px;
		background-color: var(--color-primary-400);
		transform: scaleX(0);
		transform-origin: right;
		transition: transform 0.3s ease-out;
	}
	.our-products-filter.active::after,
	.our-products-filter:hover::after {
		transform: scaleX(1);
		transform-origin: left;
	}
	.our-products-filter.active,
	.our-products-filter:hover {
		color: var(--color-primary-400);
	}
	.our-products-list {
		display: grid;
		justify-items: center;
		/* 		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr; */
		color: var(--color-white);
		font-size: var(--fs-16-12);
		font-weight: var(--fw-light);
		line-height: var(--lh-1_2);
		text-align: center;
		position: relative;
		overflow: hidden;
	}

	.our-products-list.mineral .mineral {
		opacity: 1;
		pointer-events: auto;
		user-select: auto;
	}
	.our-products-list.vitamin .vitamin {
		opacity: 1;
		pointer-events: auto;
		user-select: auto;
	}
	.our-products-list.extract .extract {
		opacity: 1;
		pointer-events: auto;
		user-select: auto;
	}
	.our-products-list.other .other {
		opacity: 1;
		pointer-events: auto;
		user-select: auto;
	}
	.our-products-list .our-product.hidden {
		opacity: 0;
		pointer-events: none;
		user-select: none;
	}
	.product-image {
		width: clamp(58px, 5.795vw + 35.856px, 148px);
		transition:
			transform 0.2s ease-in-out,
			filter 0.2s ease-in-out;
	}
	.product-name {
		max-width: 95%;
	}
	.product-name,
	.show-all-products-text {
		padding-top: 1em;
		margin: auto;
		margin-top: 0;
	}
	.our-product:hover .product-image {
		transform: translateY(-3px) scale(1.03);
		filter: drop-shadow(0px 6px 6px var(--color-primary-800-50));
	}

	.show-all-products {
		grid-row: 4;
		grid-column: 2;
		display: flex;
		align-items: center;
		padding-top: 2em;
		opacity: 0;
		pointer-events: none;
		user-select: none;
		transition: opacity 0.6s ease-in-out;
	}
	.all .show-all-products,
	.show-all-products.active {
		opacity: 1;
		pointer-events: auto;
		user-select: auto;
	}

	.show-all-products-images {
		display: flex;
		justify-content: center;
	}
	.show-all-products-arrow {
		width: clamp(46px, 1.554vw + 40.16px, 70px);
	}

	@media only screen and (min-width: 1024px) {
		.our-products-filter {
			padding-bottom: 0.65em;
		}
		.our-products-filters::before,
		.our-products-filter::before {
			height: 2px;
		}
		.our-product {
			padding-top: 3.75em;
		}

		.product-name {
			max-width: 85%;
		}
		.product-name,
		.show-all-products-text {
			padding-top: 1.5em;
		}
		.show-all-products {
			grid-row: 2;
			grid-column: 4;
		}
	}
</style>

<style is:global>
	.our-products-page .section-header {
		margin-top: 0;
		padding-top: var(--padding-top-section);
	}
	.our-products-page section {
		padding-bottom: var(--padding-top-section);
	}
	.our-products-page .show-all-products {
		display: none !important;
	}

	.homepage .our-products {
		--rows-of-productsMOB: 4; /*krat 2 pocet produktu*/
		--rows-of-productsPC: 2; /*krat 4 pocet produktu*/
	}
	.our-products-page .our-products {
		--rows-of-productsMOB: 8; /*krat 2 pocet produktu*/
		--rows-of-productsPC: 4; /*krat 4 pocet produktu*/
	}

	.homepage .our-products-list {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr;
	}
	.our-products-page .our-products-list {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: repeat(var(--rows-of-productsMOB), 1fr);
	}

	.homepage .our-products-list.all .our-product:nth-child(-n + 7) {
		opacity: 1;
		pointer-events: auto;
		user-select: auto;
	}
	.our-products-page .our-products-list.all .our-product {
		opacity: 1;
		pointer-events: auto;
		user-select: auto;
	}
	.our-product {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		width: 100%;
		transition:
			transform 0.4s ease-in-out,
			opacity 0.6s ease-out;
		opacity: 0;
		pointer-events: none;
		user-select: none;
		padding-top: 2em;
	}
	.our-product:not(:first-of-type) {
		position: absolute;
		width: 50%;
		height: calc(100% / var(--rows-of-productsMOB));
		top: 0;
		left: 0;
		z-index: 0;
	}

	@media only screen and (min-width: 1024px) {
		.homepage .our-products-list {
			grid-template-columns: 1fr 1fr 1fr 1fr;
			grid-template-rows: 1fr 1fr;
		}
		.our-products-page .our-products-list {
			grid-template-columns: 1fr 1fr 1fr 1fr;
			grid-template-rows: repeat(var(--rows-of-productsPC), 1fr);
		}
		.our-product:not(:first-of-type) {
			width: 25%;
		}
		.our-product:not(:first-of-type) {
			height: calc(100% / var(--rows-of-productsPC));
		}
	}
</style>

<script is:inline>
	document.addEventListener("astro:page-load", function () {
		ourProductsF();
	});

	function ourProductsF() {
		let ourProducts = $(".our-product");
		let ourProductsFilters = $(".our-products-filter");
		let ourProductsFilterMain = $(".our-products-filters");
		let activeFilter = "all";
		let prevoiusFilter = "all";
		let ourProductsList = $(".our-products-list");

		let gridWidth;
		let mediaQuery = window.matchMedia("(min-width: 1024px)");

		if (mediaQuery.matches) {
			gridWidth = 4;
		} else {
			gridWidth = 2;
		}

		ourProductsFilters.on("click", function () {
			if (this.id === activeFilter) {
				return;
			}
			prevoiusFilter = activeFilter;
			activeFilter = this.id;

			ourProductsFilters.removeClass("active");
			this.classList.add("active");

			ourProductsList.removeClass(prevoiusFilter);
			ourProductsList.addClass(activeFilter);

			productShuffle();
		});

		let windowWidth = window.innerWidth;
		window.addEventListener("resize", function () {
			if (window.innerWidth !== windowWidth) {
				windowWidth = window.innerWidth;
				minHeightNazvu();

				if (mediaQuery.matches) {
					if (gridWidth === 4) {
						return;
					} else {
						gridWidth = 4;
						productShuffle();
					}
				} else {
					if (gridWidth === 2) {
						return;
					} else {
						gridWidth = 2;
						productShuffle();
					}
				}
			}
		});

		/*min-height na nazvu*/
		let maxHeight = 0;
		function minHeightNazvu() {
			$(".product-name").each(function () {
				let thisHeight = $(this).outerHeight();
				if (thisHeight > maxHeight) {
					maxHeight = thisHeight;
				}
			});
			$(".product-name")
				.first()
				.css("min-height", maxHeight + "px");
		}
		minHeightNazvu();

		/*observer*/
		let options = {
			root: null,
			rootMargin: "0px",
			threshold: 0.3,
		};
		let observer = new IntersectionObserver(function (entries) {
			entries.forEach(function (entry) {
				if (entry.isIntersecting) {
					basicRozlozeniProduktu();
					observer.unobserve(entry.target);
				}
			});
		}, options);

		observer.observe(document.querySelector(".our-products-list"));

		function productShuffle() {
			basicRozlozeniProduktu();

			if (activeFilter === "all") {
				return;
			}
			ourProducts.removeClass("hidden");

			let activeProducts = ourProductsList.children("." + activeFilter);

			activeProducts.each(function (index) {
				let x = (index % gridWidth) * 100;
				let y = Math.floor(index / gridWidth) * 100;

				$(this).css("transform", "translate(" + x + "%, " + y + "%)");

				if ($("body").hasClass("homepage")) {
					if (index >= 7) {
						$(this).addClass("hidden");
					}
				}
			});

			if (activeProducts.length >= 8) {
				$(".show-all-products").addClass("active");
			} else {
				$(".show-all-products").removeClass("active");
			}
		}

		function basicRozlozeniProduktu() {
			ourProducts.each(function (index) {
				let x = (index % gridWidth) * 100;
				let y = Math.floor(index / gridWidth) * 100;
				$(this).css("transform", "translate(" + x + "%, " + y + "%)");
			});
		}

		/*horizontal scrolling on select scrolling*/
		ourProductsFilterMain.on("mousewheel", function (e) {
			if (this.scrollWidth > this.clientWidth) {
				e.preventDefault();
				$(this)
					.stop()
					.animate(
						{
							scrollLeft: $(this).scrollLeft() - e.originalEvent.wheelDelta,
						},
						"slow"
					);
			}
		});
	}
</script>
