---
import IndexLayout from "../../../layouts/IndexLayout.astro";
import ProductTemplate from "@components/product/product-template.astro";

import { Image } from "astro:assets";
import productImage1 from "@assets/images/products/Magnesium_Malate_1000_90/Magnesium_Malate_1000_90_fwc.webp";
import productImage2 from "@assets/images/products/Magnesium_Malate_1000_90/Magnesium_Malate_1000_90_bws.webp";

const alt = "NATIOS Magnesium Malate";
const loading = "lazy";
const productImageWidth = 1000;
const pixelDensities = [1, 1.5, 2, 2.5, 3];
const quality = 90;
---

<IndexLayout title="Natios Magnesium Malate">
	<ProductTemplate>
		<!-- _____________________________________________ -->
		<!-- ____________________NÁZEV____________________ -->
		<!-- _____________________________________________ -->
		<h1 slot="product-name-h1">Magnesium Malate + B6</h1>
		<h2 slot="product-name-h2">1000 mg, 90 vegan capsules</h2>

		<!-- ________________________________________________________ -->
		<!-- ____________________FOTKY VELKÉ DO 6____________________ -->
		<!-- ________________________________________________________ -->
		<div slot="large-image-1" class="large-image active">
			<Image
				src={productImage1}
				width={productImageWidth}
				alt={alt}
				quality={quality}
				densities={pixelDensities}
				loading="eager"
			/>
		</div>

		<div slot="large-image-2" class="large-image">
			<Image
				src={productImage2}
				width={productImageWidth}
				alt={alt}
				quality={quality}
				densities={pixelDensities}
				loading={loading}
			/>
		</div>

		<!-- ____________________________________________________________ -->
		<!-- ____________________FOTKY NÁHLEDOVÉ DO 6____________________ -->
		<!-- ____________________________________________________________ -->
		<div slot="preview-image-1" class="preview-image active">
			<Image
				src={productImage1}
				width={productImageWidth}
				alt={alt}
				quality={quality}
				densities={pixelDensities}
				loading="eager"
			/>
		</div>

		<div slot="preview-image-2" class="preview-image">
			<Image
				src={productImage2}
				width={productImageWidth}
				alt={alt}
				quality={quality}
				densities={pixelDensities}
				loading="eager"
			/>
		</div>

		<!-- ___________________________________________________________________________________ -->
		<!-- ____________________SELECT MOŽNOSTI (možnost video a orher 1 2)____________________ -->
		<!-- ___________________________________________________________________________________ -->
		<span slot="select-description" class="select-description">Description</span>
		<span slot="select-ingredients" class="select-ingredients">Ingredients</span>
		<span slot="select-dosage" class="select-dosage">Dosage and warnings</span>

		<!-- ____________________________________________________________________________________ -->
		<!-- ____________________DESCRIPTION DIVY (možnost video a orher 1 2)____________________ -->
		<!-- ____________________________________________________________________________________ -->
		<div slot="description-description" class="description-description active">
			<p>
				NATIOS Magnesium Malate contains 170 mg of elemental magnesium and 2 mg of vitamin B6 in each vegan capsule. It
				is a high quality, highly bio-available and effective way to replenish magnesium levels in the body. The
				combination of magnesium and vitamin B6 provides even greater efficiency as the two substances work in synergy
				to support each other's benefits.
			</p>

			<ul>
				<li>100% pure form of magnesium malate</li>
				<li>Contains 170 mg of elemental magnesium in 1 capsule</li>
				<li>Enriched with 2 mg of vitamin B6 (P-5-P) to enhance the effects</li>
				<li>Contains no artificial additives or indigestible substances</li>
				<li>Vegan a GMO-free</li>
			</ul>

			<p>
				Magnesium is an essential mineral that plays a key role in several physiological processes in the human body. It
				is involved in more than 300 biochemical reactions, including the support of muscle and nerve function, support
				of cardiovascular health, support of bone health and support of the immune system.
			</p>
			<p class="small-padding">
				<b>Benefits of magnesium malate</b>
				<br />
				The magnesium in magnesium malate is bound via a chelate bond to malic acid, an organic compound found in apples
				and other foods. This form of magnesium ranks among the top dietary supplements due to its absorption rate of up
				to 80%. Malate is highly bio-available and tolerable even at higher doses without causing side effects such as diarrhoea
				or nausea.
			</p>
			<ul>
				<li>Contributes to normal energy metabolism</li>
				<li>Reduces fatigue and exhaustion</li>
				<li>Contributes to normal muscle function</li>
				<li>Contributes to normal nervous system function</li>
				<li>Contributes to normal mental activity</li>
				<li>Helps relieve muscle spasms</li>
			</ul>
		</div>
		<!-- ____________________TABULKA____________________ -->
		<div slot="description-ingredients" class="description-ingredients">
			<table>
				<thead>
					<tr>
						<th
							><div class="dosage">
								<span
									><b>Serving size:</b> 1&nbsp;veg capsule<br />
									<b>Contains:</b> 90&nbsp;servings</span
								>
							</div></th
						>
						<th>Amount Per Serving</th>
						<th>%NRV*</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><b>Magnesium</b> (from 1&nbsp;000&nbsp;mg Magnesium Malate)</td>
						<td>170&nbsp;mg</td>
						<td>45%</td>
					</tr>
					<tr>
						<td><b>Vitamin B6</b> (as Pyridoxal-5-phosphate)</td>
						<td>2&nbsp;mg</td>
						<td>143%</td>
					</tr>
					<tr>
						<td colspan="3"
							><div class="rhp">
								<span>* Nutritional Reference Value</span>
							</div></td
						>
					</tr>
				</tbody>
			</table>
			<p><b>Other ingredients:</b> Veg Capsule (HPMC). The product does not contain any other added substances.</p>
		</div>
		<!-- ____________________DÁVKOVÁNÍ A UPOZORNĚNÍ____________________ -->
		<div slot="description-dosage" class="description-dosage">
			<p>
				<b>Recommended dosage:</b><br />
				Take 1 to 2 capsules daily as a dietary supplement. Recommended for use in the morning.
			</p>
			<p>
				<b>Our TIP:</b>
				Natios Magnesium Malate 1 capsule in the morning for energy and Natios
				<a href="/product/magnesium-bisglycinate-1000-90">Magnesium Bisglycinate 1</a> capsule at night for a soothing effect
				and better sleep.
			</p>
			<p>
				<b>Warning:</b><br />

				For adults only. If you have a medical condition, are pregnant, nursing or trying to conceive, or are taking
				medication, consult with a physician before taking this product! Keep out of reach of children. Dietary
				supplement. It is not a substitute for a varied diet. Do not exceed the recommended daily dosage.
			</p>
			<p>
				<b>Storage:</b><br />
				Store in a cool, dry place.
			</p>
			<p>
				<b>Made in EU</b>
			</p>
		</div>
	</ProductTemplate>
</IndexLayout>

<style is:global>
	:root {
		--number-of-photos: 2;
	}
</style>
