---
import IndexLayout from "../../../layouts/IndexLayout.astro";
import ProductTemplate from "@components/product/product-template.astro";

import { Image } from "astro:assets";
import productImage1 from "@assets/images/products/Vitamin_C_Lipo_500_60/Vitamin_C_Lipo_500_60_fwc.webp";
import productImage2 from "@assets/images/products/Vitamin_C_Lipo_500_60/Vitamin_C_Lipo_500_60_bws.webp";

const alt = "NATIOS Vitamin C Liposomal";
const loading = "lazy";
const productImageWidth = 1000;
const pixelDensities = [1, 1.5, 2, 2.5, 3];
const quality = 90;
---

<IndexLayout title="NATIOS Vitamin C Liposomal">
	<ProductTemplate>
		<!-- _____________________________________________ -->
		<!-- ____________________NÁZEV____________________ -->
		<!-- _____________________________________________ -->
		<h1 slot="product-name-h1">Vitamin C, Liposomal</h1>
		<h2 slot="product-name-h2">500 mg, 60 vegan capsules</h2>

		<!-- ________________________________________________________ -->
		<!-- ____________________FOTKY VELKÉ DO 6____________________ -->
		<!-- ________________________________________________________ -->
		<div slot="large-image-1" class="large-image active">
			<Image
				src={productImage1}
				width={productImageWidth}
				alt={alt}
				quality={quality}
				densities={pixelDensities}
				loading="eager"
			/>
		</div>

		<div slot="large-image-2" class="large-image">
			<Image
				src={productImage2}
				width={productImageWidth}
				alt={alt}
				quality={quality}
				densities={pixelDensities}
				loading={loading}
			/>
		</div>

		<!-- ____________________________________________________________ -->
		<!-- ____________________FOTKY NÁHLEDOVÉ DO 6____________________ -->
		<!-- ____________________________________________________________ -->
		<div slot="preview-image-1" class="preview-image active">
			<Image
				src={productImage1}
				width={productImageWidth}
				alt={alt}
				quality={quality}
				densities={pixelDensities}
				loading="eager"
			/>
		</div>

		<div slot="preview-image-2" class="preview-image">
			<Image
				src={productImage2}
				width={productImageWidth}
				alt={alt}
				quality={quality}
				densities={pixelDensities}
				loading="eager"
			/>
		</div>

		<!-- ___________________________________________________________________________________ -->
		<!-- ____________________SELECT MOŽNOSTI (možnost video a orher 1 2)____________________ -->
		<!-- ___________________________________________________________________________________ -->
		<span slot="select-description" class="select-description">Description</span>
		<span slot="select-ingredients" class="select-ingredients">Ingredients</span>
		<span slot="select-dosage" class="select-dosage">Dosage and warnings</span>

		<!-- ____________________________________________________________________________________ -->
		<!-- ____________________DESCRIPTION DIVY (možnost video a orher 1 2)____________________ -->
		<!-- ____________________________________________________________________________________ -->
		<div slot="description-description" class="description-description active">
			<p>
				This highly effective vitamin C in liposomal form will certainly help you not only to support your immune
				system, but also to boost collagen production and, thanks to its antioxidant capabilities, help protect your
				cells from free radicals. Natios Vitamin C is manufactured in liposomal form and in addition to vitamin C, it
				also contains citrus bioflavonoids, rutin and rose hip. This combination results in maximum potency and
				absorption, resulting in a great bio-available vitamin C supplement.
			</p>
			<ul>
				<li>Highly absorbable liposomal form</li>
				<li>625% of the recommended daily allowance in one capsule</li>
				<li>Supplemented with citrus bioflavonoids, rutin and rose hip</li>
				<li>Contains no artificial additives or indigestible substances</li>
				<li>Vegan and GMO-free</li>
			</ul>
			<p>
				Vitamin C is an essential vitamin which means your body cannot produce it. It is water-soluble and is found
				naturally in many fruits and vegetables, including oranges, strawberries, kiwis, peppers, broccoli, kale and
				spinach. Unlike fat-soluble vitamins, vitamin C is not stored in the body. For this reason, vitamin C needs to
				be supplemented daily.
			</p>
			<ul>
				<li>Supports immune system function</li>
				<li>Works as antioxidant</li>
				<li>Contributes to protecting cells from oxidative stress</li>
				<li>Contributes to proper collagen formation</li>
				<li>In this way it supports the function of blood vessels, bones, cartilage, gums, skin and teeth</li>
				<li>Contributes to normal energy metabolism</li>
				<li>Contributes to normal nervous and mental activity</li>
				<li>Contributes to reducing fatigue and exhaustion levels</li>
				<li>Increases iron absorption</li>
			</ul>
			<p class="no-padding"><b>What is the liposomal form?</b></p>
			<p>
				One of the main advantages of the liposomal form of vitamin C is its almost 100% absorption. In ordinary vitamin
				C (pure ascorbic acid), it is around 80% for small doses up to 100 mg, but drops rapidly with increasing doses
				and excess intake is flushed out in the urine. This is precisely what the liposomal form of vitamin C prevents,
				which maintains its perfect absorption even at higher doses.
			</p>
			<p>
				Liposomes are sub-microscopic bubbles with an outer membrane comprising a double layer of phospholipids.
				Liposomes can encapsulate nutrients, such as vitamin C, which are then rapidly and efficiently transported into
				the bloodstream, protecting them from oxidation and degradation, thereby increasing their stability.
			</p>
			<ul>
				<li>The most effective form of vitamin C, even more effective than intravenous administration</li>
				<li>Protects the vitamin from degradation and oxidation</li>
				<li>Allows rapid and efficient absorption</li>
				<li>Does not irritate the stomach or strain the digestive system</li>
				<li>Liposomes are derived from non-GMO sunflower lecithin</li>
				<li>Unlike liquid forms, capsules are durable and not susceptible to temperature changes</li>
			</ul>

			<p class="no-padding"><b>Contains citrus bioflavonoids, rutin and rose hip</b></p>
			<p>
				Every food that contains vitamin C contains bioflavonoids as well. Bioflavonoids have antioxidant properties and
				are essential for the absorption of vitamin C which also has a synergistic effect in the body. For this reason,
				Natios Liposomal Vitamin C contains a total of 50 mg of bioflavonoids in two forms. The first 25 mg of
				bioflavonoids consist of citrus bioflavonoids which are found exclusively in citrus fruits. Further 25 mg is in
				the form of a pure bioflavonoid called rutin. This bioflavonoid is present in citrus fruits as well, but you can
				also find it in other fruits, vegetables and herbs containing vitamin C. Although bioflavonoids are not
				considered a vitamin, they are sometimes referred to as vitamin P.
			</p>
			<p>
				Rose hips naturally contain large amounts of vitamin C. But that is not all. In addition to bioflavonoids, they
				also provide phenols, ellagic acid, lycopene and vitamin E. Thanks to these ingredients, rose hips act as a
				great antioxidant and, together with vitamin C, protect cells from oxidative stress and support the immune
				system.
			</p>
		</div>
		<!-- ____________________TABULKA____________________ -->
		<div slot="description-ingredients" class="description-ingredients">
			<table>
				<thead>
					<tr>
						<th
							><div class="dosage">
								<span
									><b>Serving size:</b> 1&nbsp;veg capsule<br />
									<b>Contains:</b> 60&nbsp;servings</span
								>
							</div></th
						>
						<th>Amount Per Serving</th>
						<th>%NRV*</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><b>Vitamin C</b> (Ascorbic acid)</td>
						<td>500&nbsp;mg</td>
						<td>625%</td>
					</tr>

					<tr>
						<td>Liposomal Complex (Phospholipid blend of palmitic and oleic acid)</td>
						<td>214&nbsp;mg</td>
						<td>**</td>
					</tr>

					<tr>
						<td>Citrus Bioflavonoid Complex</td>
						<td>25&nbsp;mg</td>
						<td>**</td>
					</tr>

					<tr>
						<td>Rutin Powder</td>
						<td>25&nbsp;mg</td>
						<td>**</td>
					</tr>

					<tr>
						<td>Rose Hips Powder</td>
						<td>25&nbsp;mg</td>
						<td>**</td>
					</tr>

					<tr>
						<td colspan="3"
							><div class="rhp">
								<span>* Nutritional Reference Value</span>
								<span>** Nutritional Reference Value is not established</span>
							</div></td
						>
					</tr>
				</tbody>
			</table>
			<p><b>Other ingredients:</b> Veg Capsule (HPMC). The product does not contain any other added substances.</p>
		</div>
		<!-- ____________________DÁVKOVÁNÍ A UPOZORNĚNÍ____________________ -->
		<div slot="description-dosage" class="description-dosage">
			<p class="no-padding">
				<b>Recommended dosage:</b>
			</p>
			<p class="no-padding">
				Take 1 capsule daily with water as a dietary supplement. If you are ill and need to boost your immunity, we
				recommend 3 capsules per day.
			</p>
			<p>
				Excess vitamin C is naturally discharged from the body. With higher doses, however, we recommend consulting a
				qualified physician.
			</p>
			<p class="no-padding">
				<b>Warning:</b>
			</p>
			<p>
				For adults only. If you have a medical condition, are pregnant, nursing or trying to conceive, or are taking
				medication, consult with a physician before taking this product! Keep out of reach of children. Dietary
				supplement. It is not a substitute for a varied diet. Do not exceed the recommended daily dosage.
			</p>
			<p class="no-padding">
				<b>Storage:</b><br />
				Store in a cool, dry place.
			</p>
			<p>
				<b>Made in EU</b>
			</p>
		</div>
	</ProductTemplate>
</IndexLayout>

<style is:global>
	:root {
		--number-of-photos: 2;
	}
</style>
