---
import IndexLayout from "../../../layouts/IndexLayout.astro";
import ProductTemplate from "@components/product/product-template.astro";

import { Image } from "astro:assets";
import productImage1 from "@assets/images/products/Vitamin_D_5000_250/Vitamin_D_5000_250_fwc.webp";
import productImage2 from "@assets/images/products/Vitamin_D_5000_250/Vitamin_D_5000_250_bws.webp";

const alt = "NATIOS Vitamin D 5000 IU";
const loading = "lazy";
const productImageWidth = 1000;
const pixelDensities = [1, 1.5, 2, 2.5, 3];
const quality = 90;
---

<IndexLayout title="NATIOS Vitamin D 5000 IU">
	<ProductTemplate>
		<!-- _____________________________________________ -->
		<!-- ____________________NÁZEV____________________ -->
		<!-- _____________________________________________ -->
		<h1 slot="product-name-h1">Vitamin D3, 5000 IU</h1>
		<h2 slot="product-name-h2">with extra virgin olive oil, 250 softgel capsules</h2>

		<!-- ________________________________________________________ -->
		<!-- ____________________FOTKY VELKÉ DO 6____________________ -->
		<!-- ________________________________________________________ -->
		<div slot="large-image-1" class="large-image active">
			<Image
				src={productImage1}
				width={productImageWidth}
				alt={alt}
				quality={quality}
				densities={pixelDensities}
				loading="eager"
			/>
		</div>

		<div slot="large-image-2" class="large-image">
			<Image
				src={productImage2}
				width={productImageWidth}
				alt={alt}
				quality={quality}
				densities={pixelDensities}
				loading={loading}
			/>
		</div>

		<!-- ____________________________________________________________ -->
		<!-- ____________________FOTKY NÁHLEDOVÉ DO 6____________________ -->
		<!-- ____________________________________________________________ -->
		<div slot="preview-image-1" class="preview-image active">
			<Image
				src={productImage1}
				width={productImageWidth}
				alt={alt}
				quality={quality}
				densities={pixelDensities}
				loading="eager"
			/>
		</div>

		<div slot="preview-image-2" class="preview-image">
			<Image
				src={productImage2}
				width={productImageWidth}
				alt={alt}
				quality={quality}
				densities={pixelDensities}
				loading="eager"
			/>
		</div>

		<!-- ___________________________________________________________________________________ -->
		<!-- ____________________SELECT MOŽNOSTI (možnost video a orher 1 2)____________________ -->
		<!-- ___________________________________________________________________________________ -->
		<span slot="select-description" class="select-description">Description</span>
		<span slot="select-ingredients" class="select-ingredients">Ingredients</span>
		<span slot="select-dosage" class="select-dosage">Dosage and warnings</span>

		<!-- ____________________________________________________________________________________ -->
		<!-- ____________________DESCRIPTION DIVY (možnost video a orher 1 2)____________________ -->
		<!-- ____________________________________________________________________________________ -->
		<div slot="description-description" class="description-description active">
			<p>
				The highly absorbable and highly potent form of vitamin D3 by Natios is ideal for anyone looking for a way to
				supplement this important vitamin. The vitamin D3 is contained in a softgel capsule together with extra virgin
				olive oil.
			</p>
			<p>
				This combination allows for optimal absorption, which may be problematic with some capsule supplements. Apart
				from these basic components, there are no unnecessary substances such as fillers or additives, making it a
				product of high purity and high potency.
			</p>
			<ul>
				<li>Softgel capsule form</li>
				<li>With extra virgin olive oil</li>
				<li>Take 1 to 2 capsules a week</li>
				<li>Contains no artificial additives or indigestible substances</li>
				<li>GMO-free</li>
			</ul>
			<p>
				Vitamin D belongs to the group of fat-soluble vitamins. Sufficient vitamin D intake provides several important
				functions. Probably the most important of these is the regulation of calcium and phosphorus absorption, which
				affects the condition and development of bones and teeth. Among other things, vitamin D also helps the immune
				system to function properly.
			</p><p>
				Human body naturally produces vitamin D when exposed to direct sunlight. However, vitamin D can also be obtained
				from certain foods, such as fish or eggs or from supplements. These sources are particularly important in the
				autumn and winter months when it is almost impossible to get regular exposure to direct sunlight.
			</p>
			<ul>
				<li>Vitamin D contributes to the proper absorption and utilisation of calcium and phosphorus</li>
				<li>Vitamin D contributes to good bone and teeth health</li>
				<li>Vitamin D supports proper immune system function</li>
				<li>Vitamin D supports proper muscle function</li>
				<li>Vitamin D participates in the process of cell division</li>
			</ul>
			<p class="no-padding"><b>Relationship between vitamin D and fats</b></p>
			<p class="small-padding">
				Vitamin D is a fat-soluble vitamin, which means that fat intake is important for optimal absorption. This is why
				each Natios Vitamin D3 softgel capsule contains extra virgin olive oil which is an excellent source of fat.
				However, it is important to note that not every type of fat affects vitamin D3 absorption in the same way. Many
				products contain linseed oil instead of olive oil which, however, is not optimal for supplementation when
				combined with vitamin D3.
			</p>
			<ul>
				<li class="small-padding">
					Both extra virgin olive oil and flaxseed oil are full of healthy unsaturated fats but they differ in type.
				</li>

				<li class="small-padding">
					Flaxseed oil contains mostly polyunsaturated fats, while extra virgin olive oil primarily consists of
					mono-unsaturated fats. Research indicates that vitamin D absorption is positively influenced mainly by
					mono-unsaturated fats.
				</li>

				<li class="small-padding">
					Another important difference is the stability of the two oils. Flaxseed oil is very susceptible to oxidation,
					making it very unstable. In fact, linseed oil is so unstable that it cannot be heated, must be stored in the
					refrigerator and consumed within a few weeks. This is not the case with extra virgin olive oil.
				</li>
			</ul>
			<p class="no-padding"><b>Forms of vitamin D</b></p>
			<p>
				Vitamin D is available in two forms, Ergocalciferol (D2) and Cholecalciferol (D3). These two forms differ
				slightly from each other. Both forms increase blood levels of vitamin D and both provide vitamin D benefits.
				However, research indicates that vitamin D3 is more effective for increasing blood levels of vitamin D than
				vitamin D2.
			</p>
		</div>
		<!-- ____________________TABULKA____________________ -->
		<div slot="description-ingredients" class="description-ingredients">
			<table>
				<thead>
					<tr>
						<th
							><div class="dosage">
								<span
									><b>Velikost dávky:</b> 1&nbsp;capsule weekly or 1/7&nbsp;capsule daily<br />
									<b>Contains</b> 250&nbsp;servings</span
								>
							</div></th
						>
						<th>Amount Per Serving</th>
						<th>%NRV*</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td
							><b>Vitamin D3</b> (from Lanolin) (as Cholekalciferol)<br />
							- per 1 capsule</td
						>
						<td>5000&nbsp;IU (125&nbsp;mcg)</td>
						<td>2500%</td>
					</tr>

					<tr>
						<td
							><b>Vitamin D3</b> (from Lanolin) (as Cholekalciferol)<br />
							- per daily dose</td
						>
						<td>715&nbsp;IU (17,9&nbsp;mcg)</td>
						<td>35%</td>
					</tr>

					<tr>
						<td colspan="3"
							><div class="rhp">
								<span>* Nutritional Reference Value</span>
							</div></td
						>
					</tr>
				</tbody>
			</table>

			<p><b>Other ingredients:</b> Softgel capsule (bovine gelatin, water, glycerin) and Extra Virgin Olive Oil</p>
		</div>
		<!-- ____________________DÁVKOVÁNÍ A UPOZORNĚNÍ____________________ -->
		<div slot="description-dosage" class="description-dosage">
			<p class="no-padding">
				<b>Recommended dosage:</b><br />
			</p>

			<p>
				Take 1 softgel capsule per week (1/7 softgel capsule daily) with a fat-containing meal, or as directed by your
				healthcare practitioner.
			</p>
			<p class="no-padding">
				<b>Warning:</b>
			</p>
			<p>
				For adults only. If you have a medical condition, are pregnant, nursing or trying to conceive, or are taking
				medication, consult with a physician before taking this product! Keep out of reach of children. Dietary
				supplement. It is not a substitute for a varied diet. Do not exceed the recommended daily dosage.
			</p>
			<p class="no-padding">
				<b>Storage:</b>
			</p>
			<p>Store in a cool, dry place.</p>
			<p>
				<b>Made in EU</b>
			</p>
		</div>
	</ProductTemplate>
</IndexLayout>

<style is:global>
	:root {
		--number-of-photos: 2;
	}
</style>
