---
import IndexLayout from "../../../layouts/IndexLayout.astro";
import ProductTemplate from "@components/product/product-template.astro";

import { Image } from "astro:assets";
import productImage1 from "@assets/images/products/Zinc_Complex_25_100/Zinc_Complex_25_100_fwc.webp";
import productImage2 from "@assets/images/products/Zinc_Complex_25_100/Zinc_Complex_25_100_bws.webp";

const alt = "NATIOS Zinc Complex";
const loading = "lazy";
const productImageWidth = 1000;
const pixelDensities = [1, 1.5, 2, 2.5, 3];
const quality = 90;
---

<IndexLayout title="Natios Zinc Complex">
	<ProductTemplate>
		<!-- _____________________________________________ -->
		<!-- ____________________NÁZEV____________________ -->
		<!-- _____________________________________________ -->
		<h1 slot="product-name-h1">Zinc Chelated Complex with selen & copper</h1>
		<h2 slot="product-name-h2">25 mg, 100 veg capsules</h2>

		<!-- ________________________________________________________ -->
		<!-- ____________________FOTKY VELKÉ DO 6____________________ -->
		<!-- ________________________________________________________ -->
		<div slot="large-image-1" class="large-image active">
			<Image
				src={productImage1}
				width={productImageWidth}
				alt={alt}
				quality={quality}
				densities={pixelDensities}
				loading="eager"
			/>
		</div>

		<div slot="large-image-2" class="large-image">
			<Image
				src={productImage2}
				width={productImageWidth}
				alt={alt}
				quality={quality}
				densities={pixelDensities}
				loading={loading}
			/>
		</div>

		<!-- ____________________________________________________________ -->
		<!-- ____________________FOTKY NÁHLEDOVÉ DO 6____________________ -->
		<!-- ____________________________________________________________ -->
		<div slot="preview-image-1" class="preview-image active">
			<Image
				src={productImage1}
				width={productImageWidth}
				alt={alt}
				quality={quality}
				densities={pixelDensities}
				loading="eager"
			/>
		</div>

		<div slot="preview-image-2" class="preview-image">
			<Image
				src={productImage2}
				width={productImageWidth}
				alt={alt}
				quality={quality}
				densities={pixelDensities}
				loading="eager"
			/>
		</div>

		<!-- ___________________________________________________________________________________ -->
		<!-- ____________________SELECT MOŽNOSTI (možnost video a orher 1 2)____________________ -->
		<!-- ___________________________________________________________________________________ -->
		<span slot="select-description" class="select-description">Description</span>
		<span slot="select-ingredients" class="select-ingredients">Ingredients</span>
		<span slot="select-dosage" class="select-dosage">Dosage and warnings</span>

		<!-- ____________________________________________________________________________________ -->
		<!-- ____________________DESCRIPTION DIVY (možnost video a orher 1 2)____________________ -->
		<!-- ____________________________________________________________________________________ -->
		<div slot="description-description" class="description-description active">
			<p>
				Natios Chelated Zinc Complex contains a synergic combination of three trace elements important for the human
				body. Zinc, selenium and copper are most often highlighted for their antioxidant properties, immune system boost
				and support of normal metabolism. Each vegan capsule of this dietary supplement easily covers your recommended
				daily allowance of each of the three minerals contained.
			</p>

			<ul>
				<li>Effective zinc, selenium and copper complex</li>
				<li>250% of the daily dose of zinc in 1 capsule</li>
				<li>The most absorbable forms of the minerals</li>

				<li>Contains no artificial additives or indigestible substances</li>
				<li>Vegan a GMO-free</li>
			</ul>

			<p>
				Nutrients are often discussed in relation to their individual benefits. However, the truth is that essential
				vitamins and minerals actually function as part of an interconnected network. Zinc and selenium have very
				similar effects and when supplemented together, their effects are enhanced. The relationship between zinc and
				copper is slightly different. Zinc and copper work hand in hand in many processes, yet they are also
				antagonists. This means that if the level of one is too high, it can lower the level of the other. It is
				therefore advisable to keep the ratio of zinc and copper in check, and one of the best ways to do this is by
				taking a dietary supplement that combines these minerals in the correct ratio.
			</p>
			<p class="no-padding">
				<b>Benefits of Zinc</b>
			</p><p class="small-padding">
				Zinc is contained in Natios Zinc Chelated Complex in the form of zinc bisglycinate. Zinc is mainly found in
				dietary supplements in two forms: picolinate and bisglycinate. These two forms rank among the top two forms of
				zinc in terms of their effectiveness and absorption. Zinc picolinate definitely has a longer history of use in
				dietary supplements and has therefore been the subject of more clinical studies, however, it is the bisglycinate
				form of zinc that is currently emerging as the best form of zinc.
			</p>
			<p class="small-padding">
				Zinc bisglycinate is a chelated form of zinc that is produced through a process called chelation. Chelation is
				the result of the chemical bonding of minerals to two amino acids in a very specific way. This special organic
				form of the mineral appears in nature, for example, in the leaves of plants, so it is a natural process that
				primarily facilitates the transport of minerals across the intestinal wall. For the body, the absorption of
				amino acids is completely natural, and thus the absorption of chelates is also perfectly smooth. Moreover,
				chelated minerals do not irritate the stomach and intestinal mucosa during digestion.
			</p>
			<ul>
				<li>Contributes to the protection of cells from oxidative stress (antioxidant)</li>
				<li>Contributes to maintaining normal testosterone levels in the blood</li>
				<li>Contributes to normal fertility and reproduction</li>
				<li>Contributes to normal immune system function</li>
				<li>Contributes to maintaining the normal condition of bones, nails and skin</li>
				<li>Contributes to normal metabolism of acids, alkalis and vitamin A</li>
				<li>Contributes to normal metabolism of carbohydrates and fatty acids</li>
				<li>Contributes to normal protein synthesis</li>
				<li>Participates in the process of cell division and DNA synthesis</li>
				<li>Contributes to maintaining normal eyesight</li>
			</ul>

			<p class="no-padding">
				<b>Benefits of copper</b>
			</p><p class="small-padding">
				We added copper to this formula not only for its positive effects, but also because the levels of zinc and
				copper affect each other. If zinc intake is too high and copper intake is low (or vice versa), adverse effects
				could occur. Again, copper can be found in two main forms, namely citrate and chelate, and the absorption of
				these forms is comparable. This product uses the citrate form, i.e. copper citrate. This form avoids to some
				extent the competition between zinc and copper in absorption, as citrate and chelate are absorbed in slightly
				different ways.
			</p>
			<ul>
				<li>Contributes to normal immune system function</li>
				<li>Contributes to the protection of cells from oxidative stress (antioxidant)</li>
				<li>Contributes to normal transfer of iron in the body</li>
				<li>Contributes to normal energy metabolism</li>
				<li>Contributes to normal nervous system function</li>
				<li>Contributes to maintaining normal connective tissues</li>
				<li>Contributes to normal pigmentation of hair and skin</li>
			</ul>
			<p class="no-padding">
				<b>Benefits of selenium</b>
			</p><p class="small-padding">
				Selenium is bound to the amino acid methionine in this complex to form seleno-methionine. This form of selenium
				is absorbed in the human body up to 90%, so it is a highly absorbable form. Seleno-methionine occurs in two
				other forms: L-selenomethionine and D-selenomethionine. Specifically, L-selenomethionine is the more bio-active
				type and for this reason it is used in dietary supplements. There are other forms of selenium, but these are
				practically not used in dietary supplements due to their low absorption compared to L-selenomethionine.
			</p>
			<ul>
				<li>Contributes to the protection of cells from oxidative stress (antioxidant)</li>
				<li>Contributes to normal spermatogenesis</li>
				<li>Contributes to maintaining normal hair and nails</li>
				<li>Contributes to normal immune system function</li>
				<li>Contributes to normal thyroid function</li>
			</ul>
		</div>

		<!-- ____________________TABULKA____________________ -->
		<div slot="description-ingredients" class="description-ingredients">
			<table>
				<thead>
					<tr>
						<th
							><div class="dosage">
								<span
									><b>Serving size:</b> 1&nbsp;veg capsule<br />
									<b>Contains:</b> 100&nbsp;servings</span
								>
							</div></th
						>
						<th>Amount Per Serving</th>
						<th>%NRV*</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><b>Zinc</b> (from Zinc Bisglycinate)</td>
						<td>25&nbsp;mg</td>
						<td>250%</td>
					</tr>
					<tr>
						<td><b>Selen</b> (from L-seleno-methionin)</td>
						<td>100&nbsp;mcg</td>
						<td>182%</td>
					</tr>
					<tr>
						<td><b>Copper</b> (from Copper Citrate)</td>
						<td>1&nbsp;mg</td>
						<td>100%</td>
					</tr>
					<tr>
						<td colspan="3"
							><div class="rhp">
								<span>* Nutritional Reference Value</span>
							</div></td
						>
					</tr>
				</tbody>
			</table>
			<p><b>Other ingredients:</b> Veg Capsule. The product does not contain any other added substances.</p>
		</div>
		<!-- ____________________DÁVKOVÁNÍ A UPOZORNĚNÍ____________________ -->
		<div slot="description-dosage" class="description-dosage">
			<p>
				<b>Doporučené dávkování:</b><br />
				Take 1 vegan capsule daily with water. We recommend taking it at the same time as a meal or right after it.
			</p>

			<p>
				<b>Warning:</b><br />

				For adults only. If you have a medical condition, are pregnant, nursing or trying to conceive, or are taking
				medication, consult with a physician before taking this product! Keep out of reach of children. Dietary
				supplement. It is not a substitute for a varied diet. Do not exceed the recommended daily dosage.
			</p>
			<p>
				<b>Storage:</b><br />
				Store in a cool, dry place.
			</p>
			<p>
				<b>Made in EU</b>
			</p>
		</div>
	</ProductTemplate>
</IndexLayout>

<style is:global>
	:root {
		--number-of-photos: 2;
	}
</style>
