---
import IndexLayout from "../../../layouts/IndexLayout.astro";
import ProductTemplate from "@components/product/product-template.astro";

import { Image } from "astro:assets";
import productImage1 from "@assets/images/products/Electrolyte_Lemon_600/Electrolyte_Lemon_600_full.webp";

const alt = "NATIOS Electrolyte Complex Lemon";
const loading = "lazy";
const productImageWidth = 1000;
const pixelDensities = [1, 1.5, 2, 2.5, 3];
const quality = 90;
---

<IndexLayout title="NATIOS Electrolyte Complex Lemon">
	<ProductTemplate>
		<!-- _____________________________________________ -->
		<!-- ____________________NÁZEV____________________ -->
		<!-- _____________________________________________ -->
		<h1 slot="product-name-h1">Electrolyte Complex, Citrón</h1>
		<h2 slot="product-name-h2">600 g, 40 servings</h2>

		<!-- ________________________________________________________ -->
		<!-- ____________________FOTKY VELKÉ DO 6____________________ -->
		<!-- ________________________________________________________ -->
		<div slot="large-image-1" class="large-image active">
			<Image
				src={productImage1}
				width={productImageWidth}
				alt={alt}
				quality={quality}
				densities={pixelDensities}
				loading="eager"
			/>
		</div>

		<!-- ____________________________________________________________ -->
		<!-- ____________________FOTKY NÁHLEDOVÉ DO 6____________________ -->
		<!-- ____________________________________________________________ -->
		<!-- 		<div slot="preview-image-1" class="preview-image active">
			<Image
				src={productImage1}
				width={productImageWidth}
				alt={alt}
				quality={quality}
				densities={pixelDensities}
				loading="eager"
			/>
		</div> -->

		<!-- ___________________________________________________________________________________ -->
		<!-- ____________________SELECT MOŽNOSTI (možnost video a orher 1 2)____________________ -->
		<!-- ___________________________________________________________________________________ -->
		<span slot="select-description" class="select-description">Popis</span>
		<span slot="select-ingredients" class="select-ingredients">Složení</span>
		<span slot="select-dosage" class="select-dosage">Dávkování a upozornění</span>

		<!-- ____________________________________________________________________________________ -->
		<!-- ____________________DESCRIPTION DIVY (možnost video a orher 1 2)____________________ -->
		<!-- ____________________________________________________________________________________ -->
		<div slot="description-description" class="description-description active">
			<p>
				Elektrolyty značky Natios jsou vhodné pro každého, kdo vykonává fyzickou aktivitu a chce se zaměřit na
				regeneraci, podporu růstu svalů, přísun energie během výkonu nebo snižování zadržované vody v těle. Jedná se o
				optimální kombinaci 6 důležitých elektrolytů a 12 aminokyselin: 9 esenciálních a 3 semi-esenciálních.
			</p>
			<p>
				Tyto složky vám pomohou posunout své hranice a optimalizovat výkon například při tréninku, běhu, cyklistice,
				výšlapu nebo při jakékoliv namáhavé fyzické práci. Díky vysokému obsahu vitamínu C a obsahu vitamínu B6 je
				elektrolyt komplex vhodný také pro celkové zdraví organismu a posílení imunity. Příchuť citrónu nejen že dobře
				chutná, ale také skvěle osvěží.
			</p>

			<ul>
				<li>Slazeno stévií a inulinem</li>
				<li>Vhodné pro vegany</li>
				<li>Bez zbytečných přísad a éček</li>
			</ul>

			<p>
				Elektrolytická rovnováha je velmi důležitá pro správné fungování celého organismu. Při vychýlení elektrolytické
				rovnováhy je možné pozorovat nesprávné fungování svalů a nervové soustavy (křeče) a nebo nadměrné zadržování
				vody. Doplňování elektrolytů je důležité především při intenzivní fyzické aktivitě, kdy je rovnováha elektrolytů
				ohrožená. Tento doplněk stravy přináší optimální řešení, jak rychle a efektivně doplnit všech 6 elektrolytů:
				hořčík, sodík, draslík, vápní, fosfor a chloridy.
			</p>
			<p>
				Elektrolyty jsou malé nabité rozpuštěné částice, tzv. ionty, které v kapalných roztocích vedou elektrický proud
				a v lidském těle přebírají mnoho úkolů. Tělo dospělého člověka tvoří asi 60 % vody, což znamená, že téměř každá
				tekutina a buňka v těle obsahuje elektrolyty. Elektrolyty pomáhají tělu regulovat chemické reakce, udržovat
				rovnováhu mezi tekutinami uvnitř a vně buněk a především je buňky v těle využívají k vedení elektrických nábojů,
				díky nimž je možné například stahování svalů.
			</p>
			<p>
				Aminokyseliny se dělí do dvou hlavních kategorií: esenciální a neesenciální. Esenciální aminokyseliny jsou
				takové aminokyseliny, které se lidský organismus nedokáže sám vytvořit, což znamená, že je nutné je přijímat z
				potravy popřípadě z doplňků stravy. Neesenciální aminokyseliny je označení pro aminokyseliny, které si lidské
				tělo dokáže již za určitých podmínek vytvořit. Zmiňujeme zde však také semi-esenciální aminokyseliny. To je
				zvláštní označení pro některé neesenciální aminokyseliny (například histidin), které si tělo sice umí vytvořit,
				ale jejich tvorba je v některých případech nedostatečná. Nedostatečná tvorba těchto aminokyselin může nastávat
				například při onemocnění či vysoké fyzické námaze.
			</p>
		</div>
		<!-- ____________________TABULKA____________________ -->
		<div slot="description-ingredients" class="description-ingredients">
			<table>
				<thead>
					<tr>
						<th
							><div class="dosage">
								<span
									><b>Velikost dávky:</b> 1&nbsp;odměrka (15&nbsp;g)<br />
									<b>Balení obsahuje:</b> 40&nbsp;dávek</span
								>
							</div></th
						>
						<th>Množství v 1 dávce</th>
						<th>%&nbsp;RHP*</th>
						<th>Množství ve 100&nbsp;g</th>
					</tr>
				</thead>
				<tbody>
					<tr class="cell-background">
						<td colspan="4">
							<b>Výživové hodnoty</b>
						</td></tr
					>
					<tr>
						<td>Energie</td>
						<td>160&nbsp;kJ&nbsp;/&nbsp;38&nbsp;kcal</td>
						<td>1,9&nbsp;%</td>
						<td>1&nbsp;067&nbsp;kJ / 253&nbsp;kcal</td>
					</tr>
					<tr>
						<td>Tuky</td>
						<td>0&nbsp;g</td>
						<td>0&nbsp;%</td>
						<td>0&nbsp;g</td>
					</tr>
					<tr>
						<td class="padding-left">z toho nasycené mastné kyseliny</td>
						<td>0&nbsp;g</td>
						<td>0&nbsp;%</td>
						<td>0&nbsp;g</td>
					</tr>
					<tr>
						<td>Sacharidy</td>
						<td>0,12&nbsp;g</td>
						<td>&lt;0,1&nbsp;%</td>
						<td>0,8&nbsp;g</td>
					</tr>
					<tr>
						<td class="padding-left">z toho cukry</td>
						<td>0,12&nbsp;g</td>
						<td>0,1&nbsp;%</td>
						<td>0,8&nbsp;g</td>
					</tr>
					<tr>
						<td>Vláknina</td>
						<td>0&nbsp;g</td>
						<td>**</td>
						<td>0&nbsp;g</td>
					</tr>
					<tr>
						<td>Bílkoviny</td>
						<td>0,54&nbsp;g</td>
						<td>1&nbsp;%</td>
						<td>3,6&nbsp;g</td>
					</tr>
					<tr>
						<td>Sůl</td>
						<td>0,25&nbsp;g</td>
						<td>4&nbsp;%</td>
						<td>1,67&nbsp;g</td>
					</tr>

					<tr class="cell-background">
						<td colspan="4">
							<b>Elektrolyty</b>
						</td></tr
					>
					<tr>
						<td>Sodík</td>
						<td>100&nbsp;mg</td>
						<td>4&nbsp;%</td>
						<td>666,7&nbsp;mg</td>
					</tr>
					<tr>
						<td>Chloridy</td>
						<td>552&nbsp;mg</td>
						<td>69&nbsp;%</td>
						<td>3680&nbsp;mg</td>
					</tr>
					<tr>
						<td>Draslík</td>
						<td>240&nbsp;mg</td>
						<td>12&nbsp;%</td>
						<td>1600&nbsp;mg</td>
					</tr>
					<tr>
						<td>Vápník</td>
						<td>160&nbsp;mg</td>
						<td>20&nbsp;%</td>
						<td>1066,7&nbsp;mg</td>
					</tr>
					<tr>
						<td>Fosfor</td>
						<td>125&nbsp;mg</td>
						<td>18&nbsp;%</td>
						<td>833,3&nbsp;mg</td>
					</tr>
					<tr>
						<td>Hořčík</td>
						<td>15&nbsp;mg</td>
						<td>4&nbsp;%</td>
						<td>100&nbsp;mg</td>
					</tr>

					<tr class="cell-background">
						<td colspan="4">
							<b>Aminokyseliny</b>
						</td></tr
					>
					<tr>
						<td>L-Glutamine</td>
						<td>2&nbsp;g</td>
						<td>**</td>
						<td>13,3&nbsp;g</td>
					</tr>
					<tr>
						<td>L-Leucine</td>
						<td>2&nbsp;g</td>
						<td>**</td>
						<td>13,3&nbsp;g</td>
					</tr>
					<tr>
						<td>L-Valine</td>
						<td>1,2&nbsp;g</td>
						<td>**</td>
						<td>88&nbsp;g</td>
					</tr>
					<tr>
						<td>L-Isoleucine</td>
						<td>1,2&nbsp;g</td>
						<td>**</td>
						<td>8&nbsp;g</td>
					</tr>
					<tr>
						<td>L-Lysine HCl</td>
						<td>1&nbsp;g</td>
						<td>**</td>
						<td>6,7&nbsp;g</td>
					</tr>
					<tr>
						<td>L-Threonine</td>
						<td>0,6&nbsp;g</td>
						<td>**</td>
						<td>4&nbsp;g</td>
					</tr>
					<tr>
						<td>L-Histidine HCl</td>
						<td>0,4&nbsp;g</td>
						<td>**</td>
						<td>2,7&nbsp;g</td>
					</tr>
					<tr>
						<td>L-Cysteine HCl</td>
						<td>0,3&nbsp;g</td>
						<td>**</td>
						<td>2&nbsp;g</td>
					</tr>
					<tr>
						<td>L-Methione</td>
						<td>0,2&nbsp;g</td>
						<td>**</td>
						<td>1,3&nbsp;g</td>
					</tr>
					<tr>
						<td>L-Tryptophan</td>
						<td>0,1&nbsp;g</td>
						<td>**</td>
						<td>0,7&nbsp;g</td>
					</tr>
					<tr>
						<td>L-Phenylalanine</td>
						<td>0,1&nbsp;g</td>
						<td>**</td>
						<td>0,7&nbsp;g</td>
					</tr>
					<tr>
						<td>L-Tyrosine</td>
						<td>0,1&nbsp;g</td>
						<td>**</td>
						<td>0,7&nbsp;g</td>
					</tr>

					<tr class="cell-background">
						<td colspan="4">
							<b>Další látky</b>
						</td></tr
					>
					<tr>
						<td>Vitamín C</td>
						<td>100&nbsp;mg</td>
						<td>125&nbsp;%</td>
						<td>666,7&nbsp;mg</td>
					</tr>
					<tr>
						<td>Vitamín B6 (P-5-P)</td>
						<td>0,2&nbsp;mg</td>
						<td>14&nbsp;%</td>
						<td>1,3&nbsp;mg</td>
					</tr>
					<tr>
						<td>Inulín</td>
						<td>1,62&nbsp;g</td>
						<td>**</td>
						<td>10,8&nbsp;g</td>
					</tr>
					<tr>
						<td>Steviol-glykosidy</td>
						<td>0,08&nbsp;g</td>
						<td>**</td>
						<td>0,5&nbsp;g</td>
					</tr>
					<tr>
						<td colspan="4"
							><div class="rhp">
								<span>* referenční hodnota příjmu u průměrné dospělé osoby</span>
								<span>** denní referenční hodnota příjmu není stanovena</span>
							</div></td
						>
					</tr>
				</tbody>
			</table>
			<p>
				<b>Podrobné složení:</b> L-glutamin, L-Leucin, L-Valin, L-Isoleucin, L-lysin HCl, L-Threonin, L-Histidin HCl, L-Cystein
				HCl, L-Methionin, L-Fenylalanin, L-Tryptofan, L-Tyrosin, chlorid sodný (sůl), citrát draselný, hydrogenfosforečnan
				vápenatý 2-hydrát, malát hořečnatý, vitamín C (kyselina askorbová), vitamín B6 (P-5-P), kyselina citrónová, prášek
				z kořene kurkumy, steviol-glykosidy, inulin, aroma
			</p>
			<p>
				<b>Alergeny:</b> Tento výrobek neobsahuje žádné z hlavních potravinových alergenů: mléko, vejce, ryby, korýše, ořechy,
				pšenici, arašídy ani sóju. Neobsahuje lepek.
			</p>
		</div>
		<!-- ____________________DÁVKOVÁNÍ A UPOZORNĚNÍ____________________ -->
		<div slot="description-dosage" class="description-dosage">
			<p>
				<b>Doporučené dávkování:</b><br />
				Jako doplněk smíchejte 1 zarovnanou odměrku (15&nbsp;g) s 650&nbsp;ml vody před, během, po a nebo mezi tréninkem.
			</p>
			<p>
				<b>Upozornění:</b><br />
				Uchovávejte mimo dosah dětí. Není náhradou pestré stravy. Doplněk stravy. Nevhodné pro děti, těhotné a kojící ženy.
				Nepřekračujte doporučenou denní dávku.
			</p>
			<p>
				<b>Skladování:</b><br />
				Na suchém a tmavém místě, při pokojové teplotě 25 °C.
			</p>
			<p>
				<b>Vyrobeno v EU</b>
			</p>
		</div>
	</ProductTemplate>
</IndexLayout>

<style is:global>
	:root {
		--number-of-photos: 1;
	}
</style>
