---
import IndexLayout from "../../../layouts/IndexLayout.astro";
import ProductTemplate from "@components/product/product-template.astro";

import { Image } from "astro:assets";
import productImage1 from "@assets/images/products/potassium-magnesium-100/potassium-magnesium-100-fwc.webp";
import productImage2 from "@assets/images/products/potassium-magnesium-100/potassium-magnesium-100-bws.webp";

const alt = "NATIOS Potassium & Magnesium";
const loading = "lazy";
const productImageWidth = 1000;
const pixelDensities = [1, 1.5, 2, 2.5, 3];
const quality = 90;
---

<IndexLayout title="NATIOS Potassium & Magnesium">
	<ProductTemplate>
		<!-- _____________________________________________ -->
		<!-- ____________________NÁZEV____________________ -->
		<!-- _____________________________________________ -->
		<h1 slot="product-name-h1">Potassium & Magnesium</h1>
		<h2 slot="product-name-h2">Citrate & Malate, 100 vegan capsules</h2>

		<!-- ________________________________________________________ -->
		<!-- ____________________FOTKY VELKÉ DO 6____________________ -->
		<!-- ________________________________________________________ -->
		<div slot="large-image-1" class="large-image active">
			<Image
				src={productImage1}
				width={productImageWidth}
				alt={alt}
				quality={quality}
				densities={pixelDensities}
				loading="eager"
			/>
		</div>

		<div slot="large-image-2" class="large-image">
			<Image
				src={productImage2}
				width={productImageWidth}
				alt={alt}
				quality={quality}
				densities={pixelDensities}
				loading={loading}
			/>
		</div>

		<!-- ____________________________________________________________ -->
		<!-- ____________________FOTKY NÁHLEDOVÉ DO 6____________________ -->
		<!-- ____________________________________________________________ -->
		<div slot="preview-image-1" class="preview-image active">
			<Image
				src={productImage1}
				width={productImageWidth}
				alt={alt}
				quality={quality}
				densities={pixelDensities}
				loading="eager"
			/>
		</div>

		<div slot="preview-image-2" class="preview-image">
			<Image
				src={productImage2}
				width={productImageWidth}
				alt={alt}
				quality={quality}
				densities={pixelDensities}
				loading="eager"
			/>
		</div>

		<!-- ___________________________________________________________________________________ -->
		<!-- ____________________SELECT MOŽNOSTI (možnost video a orher 1 2)____________________ -->
		<!-- ___________________________________________________________________________________ -->
		<span slot="select-description" class="select-description">Description</span>
		<span slot="select-ingredients" class="select-ingredients">Ingredients</span>
		<span slot="select-dosage" class="select-dosage">Dosage and warnings</span>

		<!-- ____________________________________________________________________________________ -->
		<!-- ____________________DESCRIPTION DIVY (možnost video a orher 1 2)____________________ -->
		<!-- ____________________________________________________________________________________ -->
		<div slot="description-description" class="description-description active">
			<p>
				The most effective, best absorbable and gentlest forms of minerals in one complex. This supplement combines
				potassium citrate and magnesium malate, which are forms that ensure <b
					>maximum absorption and gentleness on the stomach</b
				>. This complex is additionally enriched with vitamin B6 in its active form P-5-P. Each vegan capsule of this
				complex contains 100&nbsp;mg of potassium, 50&nbsp;mg of magnesium and 2&nbsp;mg of vitamin B6.
			</p>

			<ul>
				<li>Effective complex of 3 substances</li>
				<li>Best absorbable forms</li>
				<li>Contains no artificial additives or indigestible substances</li>
				<li>Vegan, gluten-free and GMO-free</li>
			</ul>

			<p class="no-padding"><b>Why combine potassium and magnesium??</b></p>
			<p>
				Potassium and magnesium <b>support each other</b> in their physiological functions, which can lead to more efficient
				use of these minerals. Potassium helps maintain optimal <b>magnesium levels in cells</b>, which is crucial for
				various cellular processes. Magnesium, on the other hand, supports <b>potassium transport</b> across cell membranes.
				This synergistic effect increases the overall bioavailability and effectiveness of both minerals. This complex is
				also supplemented with vitamin B6.
			</p>
			<p class="no-padding"><b>What are the benefits of the complex?</b></p>
			<p>
				Potassium is important for nerve health and contributes to <b>blood pressure regulation</b>. Last but not least,
				it is necessary for the proper functioning of the muscles, including the most important one - the <b>heart</b>.
				Magnesium is also very important for the healthy functioning of muscles and the support of the nervous system.
				In addition, it also supports energy metabolism, protein synthesis and bone health. Together, these minerals
				help maintain electrolytic balance.
			</p>
			<p>
				The combination of potassium and magnesium is therefore ideal for people who want to support their physical and
				mental health, especially during increased physical activity or stress.
			</p>
			<ul>
				<li>Potassium and magnesium support muscle function</li>
				<li>Potassium helps maintain blood pressure</li>
				<li>Potassium, magnesium and B6 support the nervous system</li>
				<li>Magnesium and B6 support energy metabolism</li>
				<li>Magnesium and B6 counteract fatigue and exhaustion</li>
				<li>Magnesium and B6 support mental activities</li>
			</ul>

			<table class="compare">
				<thead>
					<tr>
						<th colspan="2"><b>DIFFERENCES BETWEEN NATIOS COMPLEX AND REGULAR POTASSIUM</b></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><b>NATIOS Potassium & Magnesium Complex</b></td>
						<td><b>Common potassium</b></td>
					</tr>
					<tr>
						<td>The best form of potassium citrate </td>
						<td>Less effective forms with potential side effects </td>
					</tr>
					<tr>
						<td>Supplemented with 333&nbsp;mg magnesium malate </td>
						<td>No magnesium</td>
					</tr>
					<tr>
						<td>Supplemented with 2&nbsp;mg of vitamin B6 as P-5-P </td>
						<td>No vitamin B6 </td>
					</tr>
					<tr>
						<td>Without fillers, admixtures and unnecessary e's</td>
						<td>Fillers and other substances facilitating production</td>
					</tr>
					<tr>
						<td>Low price </td>
						<td>Low price </td>
					</tr>
				</tbody>
			</table>

			<p class="no-padding"><b>What are potassium citrate and magnesium malate best at?</b></p>
			<p>
				Potassium citrate is <b>one of the most absorbable forms of potassium</b>. This form is particularly gentle on
				the digestive system and <b>does not cause stomach upset</b>, which is a common problem with other forms of
				potassium. In addition, potassium citrate is also suitable for individuals prone to kidney stones.
			</p>
			<p>
				Magnesium malate is a form of magnesium known for its <b>excellent absorbability and high bioavailability</b>.
				Unlike magnesium oxides or sulfates, which can cause indigestion and have a lower absorption rate, magnesium
				malate is gentle on the stomach and has up to 80% absorption. Compared to other forms, malate is primarily aimed
				at supporting energy metabolism, which goes hand in hand with the effects of potassium.
			</p>
		</div>
		<!-- ____________________TABULKA____________________ -->
		<div slot="description-ingredients" class="description-ingredients">
			<table>
				<thead>
					<tr>
						<th
							><div class="dosage">
								<span
									><b>Serving size:</b> 1&nbsp;vegan capsule<br />
									<b>Contains:</b> 100&nbsp;servings</span
								>
							</div></th
						>
						<th>Amount Per Serving</th>
						<th>%NRV*</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td
							><b>Potassium</b>
							(from 277 mg Potassium Citrate )</td
						>
						<td>100&nbsp;mg</td>
						<td>5&nbsp;&</td>
					</tr>
					<tr>
						<td
							><b>Magnesium</b>
							(from 333 mg Magnesium Malate)</td
						>
						<td>50&nbsp;mg</td>
						<td>13&nbsp;%</td>
					</tr>
					<tr>
						<td><b>Vitamin B6</b> (P-5-P) </td>
						<td>2&nbsp;mg</td>
						<td>143&nbsp;%</td>
					</tr>

					<tr>
						<td colspan="3"
							><div class="rhp">
								<span>* Nutritional Reference Value</span>
							</div></td
						>
					</tr>
				</tbody>
			</table>
			<p><b>Other ingredients:</b> Veg Capsule (HPMC). The product does not contain any other added substances.</p>
		</div>
		<!-- ____________________DÁVKOVÁNÍ A UPOZORNĚNÍ____________________ -->
		<div slot="description-dosage" class="description-dosage">
			<p>
				<b>Recommended dosage:</b><br />
				As a dietary supplement, take 1 to 2 vegan capsules daily with water.
			</p>
			<p>
				<b>Warning:</b><br />

				For adults only. If you have a medical condition, are pregnant, nursing or trying to conceive, or are taking
				medication, consult with a physician before taking this product! Keep out of reach of children. Dietary
				supplement. It is not a substitute for a varied diet. Do not exceed the recommended daily dosage.
			</p>
			<p>
				<b>Storage:</b><br />
				Store in a cool, dry place.
			</p>
			<p>
				<b>Made in EU</b>
			</p>
		</div>
	</ProductTemplate>
</IndexLayout>

<style is:global>
	:root {
		--number-of-photos: 2;
	}
</style>
