---
import IndexLayout from "../../../layouts/IndexLayout.astro";
import ProductTemplate from "@components/product/product-template.astro";

import { Image } from "astro:assets";
import productImage1 from "@assets/images/products/Ashwagandha_Extract_5000_90/Ashwagandha_Extract_5000_90_fwc.webp";
import productImage2 from "@assets/images/products/Ashwagandha_Extract_5000_90/Ashwagandha_Extract_5000_90_bws.webp";

const alt = "NATIOS Ashwagandha Extra Strenght Extract";
const loading = "lazy";
const productImageWidth = 1000;
const pixelDensities = [1, 1.5, 2, 2.5, 3];
const quality = 90;
---

<IndexLayout title="NATIOS Ashwagandha Extract">
	<ProductTemplate>
		<!-- _____________________________________________ -->
		<!-- ____________________NÁZEV____________________ -->
		<!-- _____________________________________________ -->
		<h1 slot="product-name-h1">Ashwagandha Extra Strenght Extract</h1>
		<h2 slot="product-name-h2">5000 mg, 90 veg capsules</h2>

		<!-- ________________________________________________________ -->
		<!-- ____________________FOTKY VELKÉ DO 6____________________ -->
		<!-- ________________________________________________________ -->
		<div slot="large-image-1" class="large-image active">
			<Image
				src={productImage1}
				width={productImageWidth}
				alt={alt}
				quality={quality}
				densities={pixelDensities}
				loading="eager"
			/>
		</div>

		<div slot="large-image-2" class="large-image">
			<Image
				src={productImage2}
				width={productImageWidth}
				alt={alt}
				quality={quality}
				densities={pixelDensities}
				loading={loading}
			/>
		</div>

		<!-- ____________________________________________________________ -->
		<!-- ____________________FOTKY NÁHLEDOVÉ DO 6____________________ -->
		<!-- ____________________________________________________________ -->
		<div slot="preview-image-1" class="preview-image active">
			<Image
				src={productImage1}
				width={productImageWidth}
				alt={alt}
				quality={quality}
				densities={pixelDensities}
				loading="eager"
			/>
		</div>

		<div slot="preview-image-2" class="preview-image">
			<Image
				src={productImage2}
				width={productImageWidth}
				alt={alt}
				quality={quality}
				densities={pixelDensities}
				loading="eager"
			/>
		</div>

		<!-- ___________________________________________________________________________________ -->
		<!-- ____________________SELECT MOŽNOSTI (možnost video a orher 1 2)____________________ -->
		<!-- ___________________________________________________________________________________ -->
		<span slot="select-description" class="select-description">Description</span>
		<span slot="select-ingredients" class="select-ingredients">Ingredients</span>
		<span slot="select-dosage" class="select-dosage">Dosage and warnings</span>

		<!-- ____________________________________________________________________________________ -->
		<!-- ____________________DESCRIPTION DIVY (možnost video a orher 1 2)____________________ -->
		<!-- ____________________________________________________________________________________ -->
		<div slot="description-description" class="description-description active">
			<p>
				Ashwagandha (also known as Indian ginseng or withania somnifera) is a plant that has many beneficial effects on
				human health. Its benefits reach unprecedented proportions as it touches many functions of the human body and
				its capabilities. It has a positive effect on both mental and physical health, especially thanks to the
				following:
			</p>

			<ul>
				<li>Better stress management thanks to its adaptogenic properties</li>
				<li>Protection of cells against free radicals (antioxidant)</li>
				<li>Positive effect on the reproductive health of both men and women</li>
				<li>Support of cognitive abilities such as concentration or memory</li>
				<li>Positive effect on perceived energy levels</li>
				<li>Improved physical stamina and vitality</li>
				<li>Support of quality sleep</li>
				<li>Rejuvenation of body and spirit</li>
				<li>Beneficial effect on the respiratory system</li>
			</ul>

			<p>
				Ashwagandha by Natios provides an extra potent dose of active ingredients without additional fillers and
				additives, making it a product of both high purity and high potency. It contains only 100% pure Ashwagandha root
				extract. In addition, it is a 1.5% standardised extract which guarantees a minimum amount of active substances
				(withanolides).
			</p>

			<p>
				Thanks to the strong standardised extract, you no longer have to take several capsules a day and keep track of
				your regular daily dose. The high potency and all the power that Ashwagandha has to offer is guaranteed in a
				single capsule.
			</p>
			<ul>
				<li>Effective dose contained in 1 capsule</li>
				<li>Easy and convenient administration with smaller capsules</li>
				<li>Contains no artificial additives or indigestible substances</li>
				<li>Vegan a GMO-free</li>
			</ul>
		</div>
		<!-- ____________________TABULKA____________________ -->
		<div slot="description-ingredients" class="description-ingredients">
			<table>
				<thead>
					<tr>
						<th
							><div class="dosage">
								<span
									><b>Serving size:</b> 1&nbsp;veg capsule<br />
									<b>Contains:</b> 90&nbsp;servings</span
								>
							</div></th
						>
						<th>Amount Per Serving</th>
						<th>%NRV*</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td
							><b>Ashwagandha 10:1 extract</b> (<i>Withania somnifera</i>) (root)
							<br />
							- Standardiyed to 1,5% withanolides
							<br />
							- Equivalent of 5&nbsp;000&nbsp;mg of raw herb</td
						>
						<td>500&nbsp;mg</td>
						<td>**</td>
					</tr>

					<tr>
						<td colspan="3"
							><div class="rhp">
								<span>* Nutritional Reference Value</span>
								<span>** Nutritional Reference Value is not established</span>
							</div></td
						>
					</tr>
				</tbody>
			</table>
			<p><b>Other ingredients:</b> Veg Capsule. The product does not contain any other added substances.</p>
		</div>
		<!-- ____________________DÁVKOVÁNÍ A UPOZORNĚNÍ____________________ -->
		<div slot="description-dosage" class="description-dosage">
			<p>
				<b>Recommended dosage:</b><br />
				Take 1 capsule one to three times per day with water.
			</p>

			<p>
				<b>Warning:</b><br />

				For adults only. If you have a medical condition, are pregnant, nursing or trying to conceive, or are taking
				medication, consult with a physician before taking this product! Keep out of reach of children. Dietary
				supplement. It is not a substitute for a varied diet. Do not exceed the recommended daily dosage.
			</p>
			<p>
				<b>Storage:</b><br />
				Store in a cool, dry place.
			</p>
			<p>
				<b>Made in EU</b>
			</p>
		</div>
	</ProductTemplate>
</IndexLayout>

<style is:global>
	:root {
		--number-of-photos: 2;
	}
</style>
