---
import IndexLayout from "../../../layouts/IndexLayout.astro";
import ProductTemplate from "@components/product/product-template.astro";

import { Image } from "astro:assets";
import productImage1 from "@assets/images/products/Magnesium_Bisglycinate_1000_90/Magnesium_Bisglycinate_1000_90_fwc.webp";
import productImage2 from "@assets/images/products/Magnesium_Bisglycinate_1000_90/Magnesium_Bisglycinate_1000_90_bws.webp";

const alt = "NATIOS Magnesium Bisglycinate";
const loading = "lazy";
const productImageWidth = 1000;
const pixelDensities = [1, 1.5, 2, 2.5, 3];
const quality = 90;
---

<IndexLayout title="Natios Magnesium Bisglycinate">
	<ProductTemplate>
		<!-- _____________________________________________ -->
		<!-- ____________________NÁZEV____________________ -->
		<!-- _____________________________________________ -->
		<h1 slot="product-name-h1">Magnesium Bisglycinate + B6</h1>
		<h2 slot="product-name-h2">1000 mg, 90 vegan capsules</h2>

		<!-- ________________________________________________________ -->
		<!-- ____________________FOTKY VELKÉ DO 6____________________ -->
		<!-- ________________________________________________________ -->
		<div slot="large-image-1" class="large-image active">
			<Image
				src={productImage1}
				width={productImageWidth}
				alt={alt}
				quality={quality}
				densities={pixelDensities}
				loading="eager"
			/>
		</div>

		<div slot="large-image-2" class="large-image">
			<Image
				src={productImage2}
				width={productImageWidth}
				alt={alt}
				quality={quality}
				densities={pixelDensities}
				loading={loading}
			/>
		</div>

		<!-- ____________________________________________________________ -->
		<!-- ____________________FOTKY NÁHLEDOVÉ DO 6____________________ -->
		<!-- ____________________________________________________________ -->
		<div slot="preview-image-1" class="preview-image active">
			<Image
				src={productImage1}
				width={productImageWidth}
				alt={alt}
				quality={quality}
				densities={pixelDensities}
				loading="eager"
			/>
		</div>

		<div slot="preview-image-2" class="preview-image">
			<Image
				src={productImage2}
				width={productImageWidth}
				alt={alt}
				quality={quality}
				densities={pixelDensities}
				loading="eager"
			/>
		</div>

		<!-- ___________________________________________________________________________________ -->
		<!-- ____________________SELECT MOŽNOSTI (možnost video a orher 1 2)____________________ -->
		<!-- ___________________________________________________________________________________ -->
		<span slot="select-description" class="select-description">Description</span>
		<span slot="select-ingredients" class="select-ingredients">Ingredients</span>
		<span slot="select-dosage" class="select-dosage">Dosage and warnings</span>

		<!-- ____________________________________________________________________________________ -->
		<!-- ____________________DESCRIPTION DIVY (možnost video a orher 1 2)____________________ -->
		<!-- ____________________________________________________________________________________ -->
		<div slot="description-description" class="description-description active">
			<p>
				Concentrated, efficient and highly absorbable magnesium to replenish the level of magnesium, proper functioning
				of the muscle system and promoting mental activity and relaxation. Each vegan capsule of this magnesium
				supplement contains 200 mg elemental magnesium.
			</p>

			<ul>
				<li>Patented magnesium bisglycinate Magchel® +20</li>
				<li>Enriched with vitamin B6 (P-5-P)</li>
				<li>Contains no artificial additives or indigestible substances</li>
				<li>Vegan, gluten and GMO-free</li>
			</ul>

			<p class="no-padding"><b>How is NATIOS Magnesium bisglycine different from others?</b></p>
			<p>
				Natios magnesium bisglycinate contains a unique patented form of magnesium that ensures maximum absorption of up
				to 80%. It is a chelate bond of magnesium and 2 molecules of glycine. This form does not cause side effects,
				such as diarrhea or nausea, even at higher doses.
			</p>
			<p>
				In addition, magnesium is supplemented with Vitamin B6 in its active form P-5-P. The combination of these two
				substances ensures even greater effectiveness, as they have similar effects.
			</p>
			<p class="no-padding"><b>What are the benefits of supplementing NATIOS magnesium bisglycinate?</b></p>
			<ul>
				<li>Nervous system</li>
				<li>Mental activity</li>
				<li>Muscle function</li>
				<li>Against long-term exhaustion</li>
				<li>Electrolytic balance</li>
				<li>Energy metabolism</li>
				<li>Bone and teeth health</li>
			</ul>
			<p class="no-padding"><b>What exactly is buffered magnesium bisglycinate?</b></p>
			<p>
				Buffered magnesium bisglycinate MagChel® +20 brings a revolutionary approach to magnesium absorption in the
				body. It uses the pH-adjusting properties of bisglycinate to increase the absorption of elemental magnesium in
				the small intestine.
			</p>
			<p>
				This buffer uses the best of two worlds: maximum absorption and utility of the chelate and high elemental
				magnesium content of anorgatic forms. The innovative method of magnesium buffering is a method that has been
				tested to verify absorption rates. The results show that the absorption rate is statistically identical to that
				of unbuffered bisglycinate, i.e. approximately 80%, but due to the buffering almost 70% more elemental magnesium
				is delivered to the body in the same capsule size. [1, 2]
			</p>

			<p class="no-padding"><b>References:</b></p>
			<p class="no-padding">
				[1] J. W. Hartle, S. Morgan, a T. Poulsen, „Development of a Model for In‐Vitro Comparative Absorption of
				Magnesium from Five Magnesium Sources Commonly Used as Dietary Supplements", The FASEB Journal, year. 30, n. S1,
				apr. 2016, doi: 10.1096/fasebj.30.1_supplement.128.6. Also available at:
				https://faseb.onlinelibrary.wiley.com/doi/10.1096/fasebj.30.1_supplement.128.6
			</p>
			<p>
				[2] ALBION® MINERALS. NEXT GENERATION MINERALS: 7 Reasons Why You Need Albion® Chelated Minerals. 2018, 6 p.
				Also available at: https://www.vaneeghen.com/doc/Albion7Reasons6pageEU102618printrev1_1304770648.pdf
			</p>
		</div>
		<!-- ____________________TABULKA____________________ -->
		<div slot="description-ingredients" class="description-ingredients">
			<table>
				<thead>
					<tr>
						<th
							><div class="dosage">
								<span
									><b>Serving size:</b> 1&nbsp;veg capsule<br />
									<b>Contains:</b> 90&nbsp;servings</span
								>
							</div></th
						>
						<th>Amount Per Serving</th>
						<th>%NRV*</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Magnesium Bisglycinate MagChel® Mg +20</td>
						<td>1000&nbsp;mg</td>
						<td>**</td>
					</tr>
					<tr>
						<td class="padding-left">of which elemental magnesium</td>
						<td>200&nbsp;mg</td>
						<td>53%</td>
					</tr>
					<tr>
						<td>Vitamin B6 (as Pyridoxal-5-phosphate)</td>
						<td>2&nbsp;mg</td>
						<td>143%</td>
					</tr>
					<tr>
						<td colspan="3"
							><div class="rhp">
								<span>* Nutritional Reference Value</span>
								<span>** Nutritional Reference Value is not established</span>
							</div></td
						>
					</tr>
				</tbody>
			</table>

			<p>
				<b>Detailed composition:</b> Patented form of Magnesium Bisglycinate MagChel® Mg +20 (80% Magnesium Bisglycinate,
				20% Magnesium Oxide), Vitamin B6 as Pyridoxal-5-Phosphate, Vegan Capsule (HMPC)
			</p>
			<p>The product does not contain any other added substances.</p>
		</div>
		<!-- ____________________DÁVKOVÁNÍ A UPOZORNĚNÍ____________________ -->
		<div slot="description-dosage" class="description-dosage">
			<p>
				<b>Recommended dosage:</b><br />
				Take 1 to 2 capsules daily as a dietary supplement. We recommend taking it in the afternoon and evening before going
				to bed. For athletes, we recommend 2 capsules after training.
			</p>
			<p>
				<b>Our TIP:</b>
				<a href="/product/magnesium-malate-1000-90">Natios Magnesium Malate</a> 1 capsule in the morning for energy and Natios
				Magnesium Bisglycinate 1 capsule per night for relaxation.
			</p>
			<p>
				<b>Warning:</b><br />

				For adults only. If you have a medical condition, are pregnant, nursing or trying to conceive, or are taking
				medication, consult with a physician before taking this product! Keep out of reach of children. Dietary
				supplement. It is not a substitute for a varied diet. Do not exceed the recommended daily dosage.
			</p>
			<p>
				<b>Storage:</b><br />
				Store in a cool, dry place.
			</p>
			<p>
				<b>Made in EU</b>
			</p>
		</div>
	</ProductTemplate>
</IndexLayout>

<style is:global>
	:root {
		--number-of-photos: 2;
	}
</style>
