---
import IndexLayout from "../../../layouts/IndexLayout.astro";
import ProductTemplate from "@components/product/product-template.astro";

import { Image } from "astro:assets";
import productImage1 from "@assets/images/products/Fenugreek_Blessed_2000_120/Fenugreek_Blessed_2000_120_fwc.webp";
import productImage2 from "@assets/images/products/Fenugreek_Blessed_2000_120/Fenugreek_Blessed_2000_120_bws.webp";

const alt = "NATIOS Fenugreek & Blessed Thistle Extract";
const loading = "lazy";
const productImageWidth = 1000;
const pixelDensities = [1, 1.5, 2, 2.5, 3];
const quality = 90;
---

<IndexLayout title="NATIOS Fenugreek & Blessed Thistle Extract">
	<ProductTemplate>
		<!-- _____________________________________________ -->
		<!-- ____________________NÁZEV____________________ -->
		<!-- _____________________________________________ -->
		<h1 slot="product-name-h1">Fenugreek & Blessed Thistle Extract</h1>
		<h2 slot="product-name-h2">2000 mg, 120 veg capsules</h2>

		<!-- ________________________________________________________ -->
		<!-- ____________________FOTKY VELKÉ DO 6____________________ -->
		<!-- ________________________________________________________ -->
		<div slot="large-image-1" class="large-image active">
			<Image
				src={productImage1}
				width={productImageWidth}
				alt={alt}
				quality={quality}
				densities={pixelDensities}
				loading="eager"
			/>
		</div>

		<div slot="large-image-2" class="large-image">
			<Image
				src={productImage2}
				width={productImageWidth}
				alt={alt}
				quality={quality}
				densities={pixelDensities}
				loading={loading}
			/>
		</div>

		<!-- ____________________________________________________________ -->
		<!-- ____________________FOTKY NÁHLEDOVÉ DO 6____________________ -->
		<!-- ____________________________________________________________ -->
		<div slot="preview-image-1" class="preview-image active">
			<Image
				src={productImage1}
				width={productImageWidth}
				alt={alt}
				quality={quality}
				densities={pixelDensities}
				loading="eager"
			/>
		</div>

		<div slot="preview-image-2" class="preview-image">
			<Image
				src={productImage2}
				width={productImageWidth}
				alt={alt}
				quality={quality}
				densities={pixelDensities}
				loading="eager"
			/>
		</div>

		<!-- ___________________________________________________________________________________ -->
		<!-- ____________________SELECT MOŽNOSTI (možnost video a orher 1 2)____________________ -->
		<!-- ___________________________________________________________________________________ -->
		<span slot="select-description" class="select-description">Description</span>
		<span slot="select-ingredients" class="select-ingredients">Ingredients</span>
		<span slot="select-dosage" class="select-dosage">Dosage and warnings</span>

		<!-- ____________________________________________________________________________________ -->
		<!-- ____________________DESCRIPTION DIVY (možnost video a orher 1 2)____________________ -->
		<!-- ____________________________________________________________________________________ -->
		<div slot="description-description" class="description-description active">
			<p>
				With Natios Fenugreek & Blessed Thistle, you no longer have to worry about not feeding your baby enough quality
				breast milk. Fenugreek is very often used in postpartum care. Fenugreek with blessed thistle is an effective
				combination of herbs that are especially known for their ability to boost breast milk production. Apart from
				increasing lactation, this combination also causes improvement in the quality of breast milk.
			</p>
			<p>
				The Natios Fenugreek & Blessed Thistle formula is made without any additives or preservatives and comes in vegan
				capsules. Contains only 100% pure extracts of fenugreek and blessed thistle. You can rest assured that you and
				your baby are getting the highest quality possible.
			</p>

			<ul>
				<li>Strong formula with herbal extracts</li>
				<li>Effective dose contained in 1 capsule</li>
				<li>Easy and convenient administration with smaller capsules</li>
				<li>Contains no artificial additives or indigestible substances</li>
				<li>Vegan a GMO-free</li>
			</ul>

			<p class="small-padding">
				<b>Benefits of Fenugreek:</b><br />
				This herb has been traditionally used almost all across the world to support lactation in breastfeeding women. Today,
				fenugreek is also taken as a dietary supplement to help control blood sugar and cholesterol levels.
			</p>
			<ul>
				<li>Supports recovery after childbirth</li>
				<li>Supports breast milk production</li>
				<li>As a result, it stimulates the rate of weight gain in newborns</li>
				<li>Supports normal blood sugar levels</li>
				<li>Helps to lower cholesterol levels</li>
				<li>Maintains the pH balance of the stomach</li>
				<li>Supports the immune system</li>
				<li>Works as antioxidant</li>
			</ul>

			<p class="small-padding">
				<b>Benefits of Blessed Thistle:</b><br />
				Traditionally, this herb has been used primarily to support the health of the digestive tract and respiratory system.
				Today, blessed thistle is most commonly used in combination with fenugreek.

				<ul>
					<li>Most commonly used in combination with fenugreek</li>
					<li>Supports normal digestion</li>
					<li>Supports normal functioning of the respiratory system</li>
				</ul>
			</p>
		</div>

		<!-- ____________________TABULKA____________________ -->
		<div slot="description-ingredients" class="description-ingredients">
			<table>
				<thead>
					<tr>
						<th
							><div class="dosage">
								<span
									><b>Serving size:</b> 1&nbsp;veg capsule<br />
									<b>Contains:</b> 120&nbsp;servings</span
								>
							</div></th
						>
						<th>Amount Per Serving</th>
						<th>%NRV*</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td
							><b>Fenugreek 4:1 extract</b> (<i>Trigonella foenum-graecum</i>) (seed)
							<br />
							- Equivalent to 1&nbsp;000&nbsp;mg of raw herb
						</td>
						<td>250&nbsp;mg</td>
						<td>**</td>
					</tr>
					<tr>
						<td
							><b>Blessed thistle 10:1 extract</b> (<i>Cnicus benedictus L.</i>) (aerial parts)
							<br />
							- Equivalent to 1&nbsp;000&nbsp;mg of raw herb
						</td>
						<td>100&nbsp;mg</td>
						<td>**</td>
					</tr>

					<tr>
						<td colspan="3"
							><div class="rhp">
								<span>* Nutritional Reference Value</span>
								<span>** Nutritional Reference Value is not established</span>
							</div></td
						>
					</tr>
				</tbody>
			</table>
			<p><b>Other ingredients:</b> Veg Capsule. The product does not contain any other added substances.</p>
		</div>
		<!-- ____________________DÁVKOVÁNÍ A UPOZORNĚNÍ____________________ -->
		<div slot="description-dosage" class="description-dosage">
			<p>
				<b>Recommended dosage:</b><br />
				Take 1–2 vegan capsules twice a day with water as a dietary supplement.
				<br />

				You can also take 1 vegan capsule three to four times a day with water.
				<br />

				Each capsule contains a large amount of powerful herbal extracts, so we recommend starting with 1 capsule twice
				a day and gradually increasing the dosage after a few days.
				<br />

				For higher dosages, we recommend consulting a qualified doctor or lactation consultant.
				<br />
			</p>
			<p>
				<b>Warnings</b><br />
				For adults only. If you have a medical condition, nursing or trying to conceive, or are taking medication, consult
				with a physician before taking this product! If you suffer from allergies to plants of the Fabaceae or Asteraceae
				families, do not use this product.

				<b>Do not take this product if you are pregnant!</b>

				Keep out of reach of children. Dietary supplement. It is not a substitute for a varied diet. Do not exceed the
				recommended daily dosage.
			</p>
			<p>
				<b>Storage:</b><br />
				Store in a cool, dry place.
			</p>
			<p>
				<b>Made in EU</b>
			</p>
		</div>
	</ProductTemplate>
</IndexLayout>

<style is:global>
	:root {
		--number-of-photos: 2;
	}
</style>
